@import url(https://fonts.cdnfonts.com/css/circular-std);
.action_close,
.action_close p i,
.add_marketplace_content,
.add_resource_filters_content,
.add_what_you_get_content,
.card-content.action-content,
.confirmation-section,
.create_a_schedule_sec .create_your_toute_right_map,
.flight-duration,
.flight_fact,
.foot-note,
.how_planning_text,
.m-icon,
.no-data,
.payment_heading h4,
.payment_loading_screen,
.response-message p,
.service-collect button i,
.stripe_process,
.video_header_sec {
  text-align: center;
}
.carousel-content,
.date_picker_item,
.export_your_packet_item,
.header_slider_sec,
.product_item_list,
.video_header_sec {
  position: relative;
}
#header .sign_in_btn a,
.btn_button {
  background-image: linear-gradient(#fac85c, #f5ab3f);
  text-decoration: none;
}
.owl-carousel.owl-rtl .owl-item,
.quantity {
  float: right;
}
body {
  background: #FAFBFF;
  margin: 0;
  color: #4c5667;
  overflow-x: hidden !important;
  font-family: "Circular Std", Montserrat, sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}
img {
  width: 100%;
}
.landing-logo{
  max-width: 115px;
}
.create_a_schedule_sec .container,
.the_ultimate_travel .container,
section.export_your_packet_sec .container {
  margin-top: 4rem;
}
.container,
.add_what_you_get .container {
  max-width: 1140px;
}
.header_slider_sec {
  position: relative;
  width: 100%;
}
img.header_banner {
  height: 820px;
}
.header_slider_sec #header {
  width: 100%;
}
.datepicker.dropdown-menu {
  z-index: 999999;
}
#header .menuzord-brand {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  margin-top: 6px;
}
#header .sign_in_btn a {
  color: #0d256e !important;
  border-radius: 5px;
  padding: 15px 38px;
  font-size: 14px;
  text-transform: capitalize;
}
#header li.sign_in_btn {
  margin-left: 20px;
  position: relative;
  top: 12px;
}
.video_header_sec img {
  width: 53%;
}
.orange-color {
  color: #f4a437 !important;
}
.video_header_sec {
  left: 0;
  right: 0;
  margin-top: -480px;
}
.video_play_icon {
  font-size: 74px;
  position: absolute;
  top: 35%;
  z-index: 9;
  right: 47%;
  color: #f5a538;
}
.how_planning_text h2 {
  text-align: center;
  color: #f4a73a;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 33px;
}
.btn_button {
  color: #0c246d;
  border-radius: 10px;
  padding: 15px 33px;
  font-size: 16px;
  font-weight: 500;
}
.btn_button:hover {
  text-decoration: none;
  color: #000;
}
.padding_right {
  padding-right: 0 !important;
}
.footer_sec .footer_item1,
.padding_left {
  padding-left: 0;
}
.action_section {
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 2rem;
}
.create_your_toute_left_text.mockup_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: initial;
  justify-content: center;
}
.create_your_toute_right_text {
  margin-top: 7rem;
  z-index: 1;
  position: relative;
}
.add_resource_filters_heading p,
.create_your_toute_left_text p,
.product_item_content p,
.create_your_toute_sec p,
.add_resource_filters_sec p {
  color: #0c246d;
}
.action-section input:checked ~ .checkmark:after,
.add_resource_filters_heading p span,
.banner-heading p span,
.banner_header_heading h2 span,
.banner_header_heading p span,
.common_heading span,
.common_heading_two span,
.create_a_schedule_sec h2 span,
.create_your_toute_left_text p span,
.dropdown-select.show,
.footer_item1 p span,
.footer_item3 address span,
.footer_item3 p span,
.no-data,
.no-js .owl-carousel,
.normal_image,
.owl-carousel.owl-loaded,
.tab-card-header > .nav-tabs > li > a.active .active_image,
.the_ultimate_travel_img_heading h3 span,
.the_ultimate_travel_right h3 span,
.upload_travel_document_sec h2 span {
  display: block;
}
.create_a_schedule_sec p,
.create_your_toute_sec p,
.add_resource_filters_sec p {
  line-height: 36px;
}
.create_a_schedule_sec span,
.create_your_toute_sec span,
.add_resource_filters_sec span {
  color: #F4A135;
  letter-spacing: 5px;
  font-size: 16px;
}
.create_a_schedule_sec .create_your_toute_right_map img {
  width: 550px;
}
.create_a_schedule_sec .create_your_toute_left_text {
  margin-left: 0 !important;
}
.banner_header_heading {
  display: block;
  padding: 120px 0;
}
.banner_header_heading h2 {
  font-size: 51px;
  font-weight: 700;
  color: #0d256e;
  line-height: 62px;
  text-align: left;
}
.banner_header_heading p {
  color: #0d256e;
  font-size: 22px;
  font-weight: 100;
  line-height: 30px;
  margin-top: 5px;
  text-align: left;
}
.common_heading,
h3.marketplace_heading,
h3.what_you_heading {
  color: #0d256e;
  font-weight: 700;
}
.top-action {
  margin-top: 29px;
  text-align: left;
}
.top-tag {
  z-index: 99;
  width: 100%;
  min-width: 600px;
  margin-top: 50px;
}
.top-tag h4 {
  font-size: 15px;
  text-align: left;
  color: #0d256e;
  font-weight: 100;
}
.top-tag ul.tag_nav {
  display: flex;
  margin: 12px 0 0;
  padding: 0;
}
.marketplace-category-nav ul li,
.top-tag ul.tag_nav li {
  list-style: none;
  font-size: 14px;
  color: #0d3784;
  cursor: pointer;
}
button.tag-class {
  background: #faf7f2;
  border: 2px solid #f9c558;
  color: #f9c558;
  padding: 10px 14px;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 100;
  margin-right: 12px;
}
.add_what_you_get {
  background-color: #fff;
  position: relative;
  padding-bottom: 120px;
}
h3.what_you_heading {
  font-size: 45px;
  padding-top: 90px;
}
h3.marketplace_heading {
  font-size: 48px;
  padding-top: 10px;
  padding-bottom: 60px;
}
.container.marketplace_section {
  padding-bottom: 80px;
}
.curcle_img5 {
  position: relative;
  left: 0;
  top: 400px;
  height: 0;
}
.curcle_img5 img {
  width: 520px;
}
.file_download {
  cursor: pointer;
}
.marketplace-circle {
  position: absolute;
  right: 0;
}
.add_marketplace_heading {
  padding-top: 80px;
}
.content_inside img {
  z-index: 10;
  position: relative;
}
.add_resource_filters_image,
.export_your_packet_heading {
  margin-bottom: 40px;
}
.add_resource_filters_sec {
  background-color: white;
  position: relative;
}
.curcle_img1 img {
  width: 327px;
}
.toite-img{
}
.create_your_toute_sec .row{

}

.mobile_landing_app_img{
  margin-top: 30px;
  width: 43rem;
} 
.common_heading {
  font-size: 40px;
}
.common_heading_two {
  color: #f4a437;
  font-weight: 700;
  font-size: 35px;
}
.action_close,
.add_resource_filters_heading,
.magazine_label {
  margin-bottom: 30px;
}
section.upload_travel_document_sec {
  margin-top: 70px;
}
.export_your_packet1 img {
  width: 850px;
}
.export_your_packet_item .user_card2 img {
  width: 387px;
}
.export_your_packet_item .user_card2 {
  position: absolute;
  right: 0;
  bottom: -92px;
}
section.export_your_packet_sec {
  background-color: #0c246b;
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: linear-gradient(to right, #018ffa, #0b317c);
}
.curcle_img2 img {
  width: 290px;
  margin-top: -45px;
}
.export_your_packet_sec .btn_button_sec {
  text-align: center;
  margin-top: 90px;
}
.product_item_content h3 {
  font-size: 23px;
  color: #0c246d;
  font-weight: 700;
}
.product_item_list .view_more_btn,
.sale_text span {
  background-image: linear-gradient(#fac85c, #f5ab3f);
  color: #0a226d;
  text-decoration: none;
}
.product_item_list .view_more_btn {
  border-radius: 6px;
  padding: 13px 50px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  display: inline-block;
}
.sale_text span {
  border-radius: 2px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.product_slide_arow .arow_left,
.product_slide_arow .arow_right {
  position: absolute;
  top: 22%;
  border: none;
  background: 0 0;
  outline: 0;
}
.sale_text {
  position: absolute;
  top: 19px;
  right: 12px;
}
.product_item_content {
  padding: 20px 0 0 10px;
}
.product_slider_mobile_sec .container,
.product_slider_sec .container {
  max-width: 1020px;
}
section.product_slider_sec {
  position: relative;
  margin-bottom: 70px;
}
.product_slide_arow .arow_left {
  left: 50px;
}
.product_slide_arow .arow_right {
  right: 50px;
}
.the_ultimate_travel {
  background-color: rgb(246 184 75);
  padding-top: 60px;
  padding-bottom: 60px;
}
.the_ultimate_travel_img img {
  width: 442px;
  background: #fff;
  padding: 2px;
}
.the_ultimate_travel_img {
  position: relative;
  text-align: center;
}
.the_ultimate_travel_img_heading h3 {
  color: #fff;
  font-size: 35px;
  text-align: left;
}
.the_ultimate_travel_img_heading {
  position: absolute;
  top: 50px;
  left: 51px;
}
.the_ultimate_travel_img_btn a {
  background-color: #0c246b;
  padding: 15px 40px;
  color: #f6b549;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.the_ultimate_travel_img_btn {
  text-align: center;
  margin-top: -16px;
}
.the_ultimate_travel_right a {
  background: #0c246b;
  padding: 12px 16px;
  color: #f5ae42;
  font-size: 16px;
  border-radius: 5px;
}
.the_ultimate_travel_right h3 {
  color: #0d256e;
  font-weight: 700;
  font-size: 35px;
  margin-top: 31px;
  margin-bottom: 22px;
}
.the_ultimate_travel_right p {
  color: #67758d;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: justify;
}
.action_option,
.app-section,
.close-icon:after,
.effect-image-1,
.feature_number,
.loading_screen,
.magazine_label p,
.minus,
.plus,
.quantity > input,
h3.feature_heading {
  text-align: center;
}
.the_ultimate_travel_input .form-control {
  border-radius: 0;
  height: 50px;
  margin-right: 5px;
}
.the_ultimate_travel_input {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}
.the_ultimate_travel_right {
  padding-top: 60px;
  padding-left: 30px;
}
.the_ultimate_travel_input .btn_submit {
  background: #0c246b;
  border: none;
  outline: 0;
  color: #fff;
  font-weight: 500;
  padding: 13px 17px;
  border-radius: 4px;
  width: 100%;
  margin-left: 14px;
}
.app-section {
  padding: 80px 30px;
  background-image: url(../../assets/images/Hero.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff;
  background-size: 70%;
}
.call-to-action h2 {
  color: #0d256e;
  text-transform: capitalize;
}
p.tagline {
  font-weight: lighter;
  margin-top: 20px;
}
.social_media_footer li,
a.app_link {
  display: inline-block;
}
a.app_link img {
  width: 180px;
  margin-left: 20px;
}
p.small_or {
  font-size: 16px;
}
.app_scan img {
  width: 200px;
  cursor: pointer;
}
.effect-class img {
  transition: 0.5s;
}
.effect-class img:hover {
  transform: scale(1.1);
  opacity: 1;
  -webkit-animation: 1.2s flash;
  animation: 1.2s flash;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
footer.footer_sec {
  background-color: #0c246c;
  padding-top: 80px;
  position: relative;
  background-image: linear-gradient(to right, #018ffa, #0b317c);
}
.footer_sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/images/home-page/curcle_img3.png");
  background-repeat: no-repeat;
  width: 129px;
  height: 119px;
}
.footer_sec .footer_item2 {
  padding-left: 60px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 0;
}
.footer_sec .footer_item3 {
  padding-left: 40px;
}
.footer_item1 p {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  line-height: 28px;
}
.social_media_footer li a {
  color: #464f7c;
  font-size: 19px;
  padding: 5px 11px;
}
.footer_sec h4 {
  font-size: 17px;
  color: #f6b84b;
  font-weight: 500;
}
.footer_item2 li a {
  color: #d7ddee;
  font-size: 15px;
  text-decoration: none;
}
.footer_item2 li {
  margin-bottom: 10px;
}
.footer_item3 p {
  color: #d7ddee;
}
.footer_item3 address,
.footer_item3 p a {
  color: #f6b84b;
  font-size: 16px;
}
.footer_item3 address {
  margin-bottom: 1px;
}
.copywrite_sec p {
  margin-bottom: 0;
  color: #c8ccd2;
  font-size: 13px;
  font-weight: lighter;
  line-height: 28px;
}
.copywrite_sec {
  border-top: 1px solid #a8afc0;
  padding-top: 15px;
  margin-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.active_image,
.export_packet_img2,
.footer_curcle_bar,
.mobile_view_text,
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn,
.product_slider_mobile_sec,
.product_slider_sec .owl-next i,
.product_slider_sec .owl-prev i,
.tab-card-header > .nav-tabs > li > a.active .normal_image,
.the_ultimate_travel_right .ultimate_head2,
.upload_travel_docume_mobile {
  display: none;
}
.footer_curcle_bar img {
  width: 135px;
}
.create_your_toute_sec {
  overflow: hidden;
  background: #fff;
  padding-top: 30px;
}
.create_a_schedule_sec {
  overflow: hidden;
  background: white;
}
.add_resource_filters_sec {
  overflow: hidden;
}
.export_your_packet_sec,
.the_ultimate_travel,
.upload_travel_document_sec {
  overflow: hidden;
}
.header_slider_sec .icon_baar div {
  width: 25px;
  height: 3px;
  background-color: #75b4e8;
  margin: 5px 0;
}
.header_slider_sec .icon_baar {
  float: left;
  margin-top: 13px;
}
.the_ultimate_travel_input .padding_right {
  padding-right: 7px;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img,
.search-form input {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.action-section,
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out,
span.select2-container {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.product_slider_sec .owl-next,
.product_slider_sec .owl-prev {
  position: absolute;
  top: 22%;
  border: none;
  width: 64px;
  height: 64px;
  outline: 0;
}
.product_slider_sec .product_img .img_responsive {
  width: 178px;
  margin-top: 24px;
}
.product_slider_sec .product_img .img_responsive_2 {
  width: 106px;
  margin: auto;
}
.owl-theme .owl-dots .owl-dot {
  display: none !important;
}
.product_slider_sec .owl-prev {
  left: -113px;
  background: url("../../assets/images/home-page/arow_left.png");
}
.product_slider_sec .owl-next {
  right: -113px;
  background: url("../../assets/images/home-page/arow_right.png");
}
.footer_sec .mobile_heading {
  display: block;
  font-size: 26px;
  color: #fcfdfc;
  margin-bottom: 20px;
}
.card {
  background-color: #fff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}
.tab-card,
.tab-card-header {
  border: none;
  box-shadow: none;
  background: 0 0;
}
.tab-card-header {
  padding: 0;
}
.top-place {
  background: #fff;
  box-shadow: 2px 4px 10px 0 rgb(0 34 51 / 5%), 2px 4px 10px 0 rgb(0 34 51 / 5%);
  border-radius: 2px;
}
.form_category:focus,
.quantity > input,
.topbar {
  box-shadow: none;
}
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0;
  background: 0 0;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom: 2px solid transparent;
  margin-right: 0;
  color: #f4a73a;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 400;
}
.tab-card-header > .nav-tabs > li > a.active {
  color: #0d256e;
  background: #fff;
}
.tab-card-header > .nav-tabs > li > a.show {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #f4a73a;
}
.tab-card-header > .nav-tabs > li > a.active:hover {
  color: #0d256e;
}
.tab-card-header > .tab-content {
  padding-bottom: 0;
}
.tab-card-header > .nav-tabs > li > a > p {
  display: flex;
  margin-bottom: 0;
}
.tab-card-header > .nav-tabs > li > a > p > span {
  position: relative;
  top: 3px;
  margin-left: 5px;
}
.quick-link {
  margin-top: 30px;
  margin-bottom: 50px;
}
.quick-link a {
  font-size: 16px;
  color: #f5aa3d;
  border-bottom: 1px solid #f5aa3d;
  padding-bottom: 5px;
}
.quick-link a:hover {
  text-decoration: none;
  color: #efa130;
  border-bottom: 1px solid #efa130;
}
h3.feature_heading {
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 45px;
  color: #0d256e;
  font-weight: 700;
}
.header_action_button {
  background-image: linear-gradient(#fac85c, #f5ab3f);
  color: #0c246d;
  border-radius: 8px;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.action_button {
  background-image: linear-gradient(#fac85c, #f5ab3f);
  color: #0c246d;
  border-radius: 5px;
  padding: 24px 40px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.action_button:hover {
  text-decoration: none;
}
.feature_number {
  width: 69px;
  height: 69px;
  background: #f7f1e9;
  border-radius: 100%;
  vertical-align: top;
  margin-bottom: 40px;
}
.feature_number span {
  display: block;
  font-size: 29px;
  font-weight: 700;
  color: #f4a73a;
  position: relative;
  top: 15px;
}
.feature_number.item-center {
  margin: 0 auto;
}
.container.itinerary_section {
  position: relative;
  top: -80px;
}
.effect-image-1 {
  position: relative;
  display: block;
}
.action-section,
.close-icon,
.select select {
  display: inline-block;
  cursor: pointer;
}
.opacity-effect img {
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  opacity: 1;
  overflow: hidden;
}
.opacity-effect:hover img,
button.view_more:disabled {
  opacity: 0.5;
}
.common_heading-2 {
  color: #f4a437;
  font-weight: 700;
  font-size: 45px;
}
.magazine_label p {
  background: #233063;
  width: 100px;
  margin: 0 auto;
  color: #f4a73a;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
}
.payment,
.shopping-cart .summary button,
.travel_magazine {
  margin-top: 20px;
}
.magazine_content_heading p {
  width: 300px;
  font-size: 16px;
  color: #fbfbfb;
  margin-top: 25px;
  line-height: 28px;
}
#video_popup .modal-content {
  background: 0 0;
  border: none;
}
#video_popup .modal-header {
  border: none;
  padding: 5px 20px;
}
#video_popup .modal-header #pause-button,
.navbar-toggler span {
  color: #193A77;
}
#video_popup {
  z-index: 9999;
}
.magazine_content_heading {
  margin-top: 80px;
}
.curcle_img3 {
  position: relative;
  right: 0;
  bottom: 450px;
  height: 0;
}
.curcle_img3 img {
  width: 220px;
}
ul.social_media_footer i {
  color: #f8c053;
}
label#news_updates {
  color: #fff;
  font-size: 15px;
  line-height: 32px;
}
.svg_path {
  background: #f7f8fa;
  position: relative;
  top: 1px;
}
.topbar a {
  color: #0d256e !important;
}
.navbar-brand {
  font-weight: 700;
  font-size: 26px;
}
.navbar-toggler,
.navbar-toggler:focus {
  padding: 12px 20px;
  font-size: 2rem;
  line-height: 1;
  background: 0 0;
  outline: 0;
}
.h1-nav .navbar-nav .nav-item > .nav-link {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 5px;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  vertical-align: middle;
  outline: 0;
}
.close-icon:after {
  content: "X";
  display: none;
  width: 15px;
  height: 18px;
  position: absolute;
  color: #000;
  z-index: 1;
  right: 25px;
  top: 0;
  bottom: 8px;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.clearable:valid ~ .close-icon::after {
  display: block !important;
}
.action_option {
  width: 100%;
}
.action-section {
  position: relative;
  padding-left: 35px;
  padding-right: 20px;
  margin-bottom: 12px;
  font-size: 18px;
}
.action-section input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 2;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.action-section:hover input ~ .checkmark {
  background-color: #ccc;
}
.action-section input:checked ~ .checkmark {
  background-color: #2196f3;
}
.action-section:after {
  content: "";
  position: absolute;
  display: none;
}
.action-section .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.select {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100% !important;
}
.select select {
  width: 100%;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
label.error {
  color: #ff044a !important;
  font-size: 14px;
  margin-top: 3px;
}
.extra-option {
  height: 40px !important;
}
.widget-26 {
  color: #3c4142;
  font-weight: 400;
}
.search-form select:focus,
.widget-26 tr:first-child td {
  border: 0;
}
.widget-26 .widget-26-job-emp-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.widget-26 .widget-26-job-title {
  min-width: 200px;
}
.widget-26 .widget-26-job-title a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}
.widget-26 .widget-26-job-title .employer-name:hover,
.widget-26 .widget-26-job-title a:hover {
  color: #68cbd7;
  text-decoration: none;
}
.widget-26 .widget-26-job-title .employer-name {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #3c4142;
}
.widget-26 .widget-26-job-title .time {
  font-size: 12px;
  font-weight: 400;
}
.widget-26 .widget-26-job-info {
  min-width: 100px;
  font-weight: 400;
}
.widget-26 .widget-26-job-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}
.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option,
.widget-26 .widget-26-job-info .location {
  color: #3c4142;
}
.widget-26 .widget-26-job-salary {
  min-width: 70px;
  font-weight: 500;
  color: #3c4142;
  font-size: 1rem;
}
.widget-26 .widget-26-job-category {
  display: block;
  padding: 0.3rem;
  white-space: nowrap;
  border-radius: 15px;
}
.widget-26 .widget-26-job-category .indicator {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
  float: left;
  border-radius: 50%;
}
.search-form input,
.search-form select {
  background: 0 0;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}
.widget-26 .widget-26-job-category span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}
.book-button,
.flight-origin p.timetable {
  font-weight: 500;
}
.widget-26 .widget-26-job-starred svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}
.widget-26 .widget-26-job-starred svg.starred {
  fill: #fd8b2c;
}
.bg-soft-base {
  background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}
.search-form {
  width: 80%;
  margin: 1rem auto 0;
}
.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}
.search-form button svg {
  width: 24px;
  height: 24px;
}
.search-body {
  margin-bottom: 1.5rem;
}
.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}
.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}
.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}
.search-body .search-result .result-header {
  margin-bottom: 2rem;
}
.search-body .search-result .result-header .records {
  color: #3c4142;
  margin-left: 10px;
}
.search-body .search-result .result-header .result-actions {
  text-align: right;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
  margin-left: 10px;
}
.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}
.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}
.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
  margin-left: 10px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}
.card-margin {
  margin-bottom: 1.875rem;
}
.loading_screen {
  position: absolute;
  left: 45%;
  top: 10%;
}
.loading_screen i,
.loading_section i {
  font-size: 80px;
  color: #0886e3;
}
.flight-deatils {
  display: flex;
  justify-content: space-around;
}
.table tr {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 10px;
}
.flight-origin p {
  font-size: 14px;
  margin-bottom: 2px;
}
.flight-details__line {
  height: 1px;
  background: #e2e2e8;
}
.flight-details__line::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 6px solid var(--GREY-200);
  position: absolute;
  left: 163px;
  top: 20px;
}
.book-button {
  padding: 8px 20px;
  font-size: 12px;
  border: 1px solid #1c73b8;
  background: #1c73b8;
  color: #fff;
}
.input--style-1 {
  font-size: 18px;
  padding: 16.5px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #666;
  background: #fff;
}
.quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .quantity {
    float: none;
    margin-top: 10px;
  }
}
.quantity > input {
  -webkit-appearance: none;
  width: 55px;
  font-size: 18px;
  color: #555;
  font-weight: 700;
  border: none;
  height: 30px;
  outline: 0;
  margin: 0;
}
.minus,
.plus {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 26px;
  border: 2px solid #ccc;
  font-size: 24px;
  color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.minus:hover,
.plus:hover {
  background: #6c7ae0;
  border-color: #6c7ae0;
  color: #fff;
}
.list-room {
  list-style: none;
  max-height: 324px;
  overflow-y: auto;
  padding-right: 20px;
}
.list-room__item {
  margin-bottom: 20px;
}
.list-room__footer {
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}
.list-room__name {
  margin-bottom: 27px;
  display: block;
  font-weight: 700;
  color: #999;
}
.list-person {
  list-style: none;
  padding: 0;
}
.list-person .list-person__item:last-child {
  margin-bottom: 0;
}
.list-person__item {
  margin-bottom: 20px;
  text-align: left;
}
.list-person__item::after {
  content: "";
  clear: both;
  display: table;
}
.list-person__item .name {
  font-size: 18px;
  color: #555;
  font-weight: 400;
  display: inline-block;
  margin-top: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#btn-add-room {
  font-family: inherit;
  font-size: 16px;
  color: #6c7ae0;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
#btn-add-room:hover {
  text-decoration: underline;
}
.flight-row label {
  width: 100%;
  font-size: 13px;
  text-align: left;
}
.dropdown-select {
  display: none;
  position: absolute;
  min-width: 385px;
  left: 0;
  right: 0;
  top: -webkit-calc(100% + 2px);
  top: -moz-calc(100% + 2px);
  top: calc(100% + 2px);
  background: #fff;
  z-index: 999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 25px 10px 10px;
}
.marketplace_subheading,
li.children-item {
  display: flex;
  justify-content: space-between;
}
li.children-list,
li.infant-list {
  border: 1px solid #d1d1d1;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.child-age-div,
li.children-item .name {
  position: relative;
  top: -6px;
}
select.child-age {
  text-align: right;
  width: 50px;
  background: #fff;
  border: none;
  box-shadow: 1px 1px 3px 0 #d1d2d2;
  -webkit-box-shadow: 1px 1px 3px 0 #d1d2d2;
  -moz-box-shadow: 1px 1px 3px 0 #d1d2d2;
  -o-box-shadow: 1px 1px 3px 0 #d1d2d2;
  -ms-box-shadow: 1px 1px 3px 0 #d1d2d2;
  padding: 5px 1%;
  box-sizing: border-box;
  color: #999;
}
ul.common-list {
  list-style: none;
  margin-left: 0;
  padding-right: 0;
}
ul.children-person {
  margin-left: 0;
  margin-top: 10px;
}
.markup-location {
  padding-top: 4px;
  padding-bottom: 3px;
}
.m-icon {
  float: left;
  width: 30px;
  margin-right: 10px;
}
.m-icon i {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.m-content {
  margin-left: 40px;
}
.m-content p {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.1;
  margin-bottom: 4px;
}
.m-content p span {
  display: block;
  font-weight: 400;
  color: #343b53;
}
input.trip_style {
  opacity: 1 !important;
}
i.fa.fa-plane.extra-icon {
  position: relative;
  left: 50%;
  bottom: 10px;
  color: #058bee;
}
.custom-content {
  background-color: #fff;
}
#master_modal {
  z-index: 9999;
  top: 20px;
  margin-bottom: 20px !important;
}
#schedule-modal {
  overflow: scroll;
}
.modal-backdrop {
  background-color: #000;
  z-index: 1111;
}
.modal-blur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.flight_heading .flight_destination h4 {
  font-size: 16px;
  line-height: 24px;
}
.flight_fact {
  background: #e7dfdf;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  font-size: 13px;
  margin-left: 20px;
}
.flight_spot p {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
}
.seller_info,
ul.flight_spot li {
  margin-top: 10px;
}
.no-data i,
.not-found i {
  color: #9ea5ab;
  font-size: 30px;
}
button.page-link.no-border:disabled {
  color: #d1d1d1;
  opacity: 1;
  cursor: not-allowed;
}
.no-data p,
.not-found p {
  font-size: 24px;
  margin-bottom: 50px;
  color: #6a6f72;
}
.payment_heading h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
.payment_body h4 {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0;
  line-height: 40px;
}
.payment_body {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.amount_section p {
  margin: 0;
  font-size: 20px;
  background: #b1a9a9;
  padding: 5px 20px;
  color: #fff;
  border-radius: 5px;
}
.StripeElement {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px 12px;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms;
  transition: box-shadow 150ms;
  font-size: 16px;
}
.stripe_process {
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #337ab7;
  border-color: #337ab7;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 15px;
}
div#card-errors {
  color: #e13232;
}
.payment_loading_screen {
  position: absolute;
  left: 40%;
  top: 15%;
}
.payment_loading_screen i {
  font-size: 90px;
  color: #0886e3;
}
.pay-row {
  margin-left: -15px;
  margin-right: -15px;
}
.duffel-components .card-payment__container {
  width: auto !important;
}
#payment-form p {
  margin-bottom: 5px;
}
.flight_booking {
  padding: 8px 15px;
  display: block;
}
#order-form-complete label {
  font-weight: 500;
  font-size: 13px;
}
#order-form-complete .form-control.error {
  border: 1px solid #e10f0f;
}
.extra-option-complete {
  height: 32px !important;
  font-size: 13px;
}
.response-message p {
  font-size: 16px;
  background: #b3bec7;
  padding: 10px 20px;
  color: #fff;
}
.foot-note p,
.response-message li,
.try_again {
  font-size: 14px;
}
.response-message p.warn {
  background: #e12121;
}
.try_again {
  padding: 5px 11px;
  font-weight: 500;
}
.foot-note {
  background: #5d6e8a;
  padding: 5px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.foot-note p {
  margin-bottom: 0;
  color: #fff;
}
.account-form-control,
.account-form-control:focus,
.dashboard-form-control,
.dashboard-form-control:focus {
  font-size: 14px;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  height: 46px;
  padding: 12px;
  outline: 0;
  width: 100%;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  background: rgba(224, 231, 255, 0.2);
  border: 1px solid #c8ccd5;
  color: #67758d;
}
.admin-form-control,
.admin-form-control:focus {
  font-size: 14px;
  box-shadow: none;
  color: #333;
  height: 40px;
  padding: 12px;
  display: block;
  outline: 0;
  width: 100%;
  font-weight: 400;
}
.admin-form-control {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
}
.admin-form-control:focus {
  border: 1px solid #b8d6ef !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
}
.dashboard-form-textarea-control,
.dashboard-form-textarea-control:focus {
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  color: #666;
  padding: 2px 10px;
  outline: 0;
  width: 100%;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  background: #f9faff;
  border: 1px solid #c8ccd5;
  height: 235px;
  line-height: 25px;
  resize: none;
}
.textarea-control,
.textarea-control:focus {
  font-size: 14px;
  display: block;
  color: #333;
  height: 128px;
  padding: 12px;
  outline: 0;
  width: 100%;
  font-weight: 400;
}
.textarea-control {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
}
.textarea-control:focus {
  border: 1px solid #b8d6ef !important;
  border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
}
.line-input,
.line-input:focus {
  border: 0;
  border-radius: 0;
  outline: 0 !important;
  border-bottom: 2px solid #8fccf9;
  -webkit-appearance: none;
  box-shadow: none !important;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.process-payment-btn,
.process-payment-btn:focus,
.save-changes-btn,
.save-changes-btn:focus {
  padding: 9px 38px;
  font-size: 17px;
  border-radius: 50px;
  border: 2px solid #f7973d;
  color: #fff;
  cursor: pointer;
  outline: 0;
  background: #f46b45;
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);
  background: linear-gradient(to right, #eea849, #f46b45);
}
.process-payment-btn:hover,
.save-changes-btn:hover {
  background: #ec8728;
  border: 2px solid #ec8728;
  padding: 9px 38px;
  font-size: 17px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}
.date_picker_item .fa-calendar {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #898989;
}
.finish-next-btn,
.finish-next-btn:focus {
  padding: 12px 25px;
  font-size: 17px;
  display: inline-block;
  border: 2px solid #1c73b8;
  color: #fff;
  outline: 0;
  background: #1c73b8;
  cursor: pointer;
  border-radius: 5px;
}
.finish-next-btn:hover {
  background: #12609e;
  border: 2px solid #12609e;
  padding: 12px 25px;
  font-size: 17px;
  color: #fff;
}
.table tr:hover {
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.13);
}
.action_close p {
  width: 70px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 100px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  color: #f4a437;
}
.action_close p i {
  font-size: 24px;
}
.action_close p:hover {
  background: #f4a437;
  color: #fff;
}
.pdf-content .owl-nav button {
  background: 0 0 !important;
  border: 3px solid #0c246b !important;
  width: 45px;
  height: 45px;
  border-radius: 100px !important;
}
.pdf-content .owl-nav button i {
  color: #0c246b;
  font-size: 30px;
}
.owl-next,
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0 solid #000;
}
.right-banner-info,
.top-banner-info {
  position: absolute;
  padding: 15px 20px;
  width: 260px;
}
.bottom-banner-info,
.right-banner-info,
.top-banner-info {
  box-shadow: 0 1px 5px rgb(230 230 230 / 25%),
    0 10px 10px rgb(198 198 198 / 24%);
  border-radius: 20px;
  background: #fff;
  display: flex;
}
.owl-prev {
  left: -50px;
}
.owl-next {
  right: -50px;
}
.top_header_heading {
  min-height: 450px;
  margin-top: 100px;
}
.banner-heading h2 {
  font-size: 38px;
  font-weight: 700;
  color: #0d2a75;
  line-height: 45px;
  text-align: left;
}
.banner-heading p {
  text-align: left;
  color: #0d2a75;
  font-size: 16px;
  padding-top: 20px;
  font-weight: lighter;
}
img.into-image {
  width: 600px;
}
.banner-image {
  position: absolute;
  top: -40px;
}
.top-banner-info {
  left: 100px;
  top: -20px;
  animation: 2s 1.9s infinite alternate mover;
}
.right-banner-info {
  right: -100px;
  bottom: 80px;
  animation: 1.9s 1.9s infinite alternate mover;
}
.icon-info img {
  width: 50px;
}
.title-info h4 {
  font-size: 15px;
  color: #0a489d;
  margin: 0;
  font-weight: 700;
}
.title-info p {
  font-size: 13px;
  color: #0a489d;
  margin: 0;
  font-weight: lighter;
}
.title-info {
  text-align: left;
  position: relative;
  left: 10px;
  top: 7px;
}
.bottom-banner-info {
  position: absolute;
  padding: 18px 20px;
  width: auto;
  left: 30px;
  bottom: -40px;
  justify-items: center;
  align-items: end;
  animation: 1.8s infinite alternate mover;
}
.icon-people img,
.ratings p,
.service-item {
  padding-left: 10px;
}
.people-info h4 {
  color: #09479b;
  font-size: 15px;
}
.banner-search {
  position: relative;
  width: 700px;
  z-index: 9;
  margin-top: 30px;
}
.form_category {
  border: none;
  box-shadow: none;
}
section.marketplace-content {
  padding-bottom: 100px;
  padding-top: 10rem;
}
.marketplace_heading h3 {
  font-size: 40px;
  color: #0d2a75;
  font-weight: 600;
}
.search_result p {
  color: #222;
  font-size: 21px;
}
.marketplace-category-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.marketplace-category-nav ul li button.active {
  color: #f6ae41;
  border: 1px solid #f6ae41;
  padding: 10px 20px;
  border-radius: 20px;
}
button.button-class.active {
  pointer-events: none;
  cursor: not-allowed;
}
section.category_browse {
  background: #fff;
  padding-bottom: 80px;
}
.category_heading h3 {
  font-size: 32px;
  color: #0d2a75;
  font-weight: 600;
}
.category_heading p {
  font-size: 15px;
  color: #0c327f;
  font-weight: lighter;
}
.category-body {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}
.category-body p {
  color: #fff;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.category-body h3 {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
}
img.category_image {
  filter: brightness(60%);
  border-radius: 20px;
}
img.category_image:hover {
  filter: brightness(70%);
  cursor: pointer;
}
.carousel-content .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.carousel-content .owl-theme .custom-nav .owl-next,
.carousel-content .owl-theme .custom-nav .owl-prev {
  position: absolute;
  height: 100px;
  color: inherit;
  background: 0 0;
  border: none;
  z-index: 100;
}
.carousel-content .owl-theme .custom-nav .owl-next i,
.carousel-content .owl-theme .custom-nav .owl-prev i {
  font-size: 2.5rem;
  color: #cecece;
}
.carousel-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}
.carousel-content .owl-theme .custom-nav .owl-next {
  right: 0;
}
.service-item {
  margin-top: 20px;
  padding-right: 10px;
}
.service-wrapper {
  border: 1px solid #e9e9e9;
  border-radius: 20px;
}
img.service_image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  max-height: 215px;
  min-height: 215px;
  cursor: pointer;
}
.service-content {
  padding: 20px;
}
.service-header p {
  font-size: 14px;
  color: #0a4699;
  font-weight: lighter;
  margin-bottom: 8px;
}
.service-header h4 {
  font-size: 17px;
  font-weight: lighter;
  color: #222;
  line-height: 22px;
  height: auto;
  min-height: 40px;
  cursor: pointer;
}
i.fa.fa-star.rating-color {
  color: #e1c03f;
  margin: 0;
  position: relative;
  top: 3px;
}
i.fa.fa-star.rating-color.null {
  top: auto;
}
.ratings {
  display: flex;
  padding: 10px 0;
}
.ratings p {
  font-weight: bolder;
  color: #222;
  margin: 0;
}
.ratings p span {
  font-weight: 400;
  color: #6b7177;
}
span.rating {
  color: #222 !important;
}
.seller-info img {
  border: 2px solid #f3a135;
  border-radius: 200px;
  width: 40px;
  height: 40px;
}
.seller-info p {
  font-size: 14px;
  margin: 0;
  padding-left: 8px;
  color: #222;
}
.seller-info,
.service-price {
  display: flex;
  justify-content: start;
  align-items: center;
}
.service-footer,
.service_head {
  justify-content: space-between;
}
.service-footer {
  border-top: 1px solid #efeff0;
  padding-top: 10px;
  display: flex;
}
.service-footer.no-footer {
  border: none;
  padding: 0;
}
.service-price p {
  margin: 0;
  color: #6b7177;
}
.service-price p span {
  color: #222;
}
.service-collect {
  position: absolute;
  top: 20px;
  right: 30px;
}
.service-collect button.wish-class {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}
.service-collect button:hover {
  color: #fff;
  background: #f36767;
  border-color: #f36767;
}
.service-collect button:active,
.service-collect button:focus {
  outline-color: transparent;
}
.service-wrapper:hover {
  box-shadow: rgb(37 42 49 / 16%) 0 4px 8px 0, rgb(37 42 49 / 14%) 0 2px 5px 0;
}
button.button-class {
  background: 0 0;
  border: #ffdead;
}
button.view_more,
button.view_more:disabled:hover {
  background-image: linear-gradient(#fac85c, #f5ab3f);
}
button.button-class:focus {
  border: none;
  outline: 0;
}
.service_load {
  position: relative;
  min-height: 200px;
}
.loading_section {
  position: absolute;
  text-align: center;
  left: 47%;
  top: 50px;
  z-index: 99;
}
button.view_more {
  color: #0c246d;
  border-radius: 5px;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: none;
}
button.view_more:hover {
  background-image: linear-gradient(#f5bb3d, #f8a426);
}
form.payment-form input.error {
  border: 1px solid #db4040 !important;
  border-radius: 0 !important;
}
input.error,
select.error {
  border: 1px solid #db4040 !important;
  border-radius: 120px !important;
}
.not-found {
  text-align: center;
  width: 100%;
  position: relative;
  top: 100px;
}
.service-collect button.wish-class.added {
  background: #f36767;
  border-color: #f36767;
  color: #fff;
}
button.wishlist_section {
  background: 0 0;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  bottom: 2px;
  left: 15px;
  cursor: pointer;
}
button.wishlist_section:active,
button.wishlist_section:focus {
  outline: transparent 0;
}
.wishlist_section i {
  font-size: 26px;
  font-weight: lighter;
}
.wishlist_section span.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 9px 12px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}
img.heading_img {
  width: 200px;
  height: 160px;
}
.service_heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  top: 10px;
}
.service_heading h5 {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 10px;
  font-weight: 100;
}
.seller_info h1,
.seller_info h2,
.seller_info h3,
.seller_info h4 {
  color: #033261;
  font-size: 16px;
}
.seller_info p {
  font-size: 14px;
  text-align: justify;
  font-weight: lighter;
  color: #000;
}
.shopping-cart .items .product .info .product-name .product-info .value,
p.old-price {
  font-weight: 400;
}
.service_body h3 {
  font-size: 22px;
  color: #000;
}
.service_body p {
  font-size: 15px;
  color: #000;
}
.service_body {
  margin-top: 20px;
  border-top: 1px solid #f1eded;
  padding-top: 10px;
}
.service_head {
  display: flex;
  margin-bottom: 20px;
  background: #0b6fac;
  padding: 10px;
  border-radius: 20px;
}
.payment_info p {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #fff;
}
.payment_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.payment_info p span {
  font-weight: 700;
}
p.old-price {
  text-decoration: line-through;
  color: #f58f8f;
}
h2.order-heading {
  font-size: 44px;
  color: #fff;
}
.shopping-cart {
  padding-bottom: 50px;
  background: #fff;
}
.shopping-cart .content {
  background-color: #fff;
  background-image: url(../../assets/images/Hero.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70%;
  padding-bottom: 80px;
}
.shopping-cart .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}
.shopping-cart .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: #545353;
  font-size: 18px;
  font-weight: lighter;
}
.shopping-cart .dark .block-heading p {
  opacity: 0.8;
}
.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #3b99e0;
}
.shopping-cart .items {
  margin: auto;
}
.shopping-cart .items .product {
  margin-bottom: 20px;
  border: 1px solid #efefef;
  padding: 10px;
}
.shopping-cart .items .product .info {
  padding-top: 0;
  text-align: center;
}
.shopping-cart .items .product .info .product-name {
  font-weight: 600;
}
.shopping-cart .items .product .info .product-name .product-info {
  font-size: 14px;
  margin-top: 10px;
}
.shopping-cart .items .product .info .quantity .quantity-input {
  margin: auto;
  width: 80px;
}
.shopping-cart .items .product .info .price {
  margin-top: 0;
  font-weight: 700;
  font-size: 22px;
  text-align: right;
}
.shopping-cart .summary {
  border-top: 2px solid #5ea4f3;
  background-color: rgba(247, 251, 255, 0.5);
  height: 100%;
  padding: 30px;
}
.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}
.discount-christmas{
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
  z-index:999;
}
.discount-christmas__body{
  position: relative;
}
.hide-for-web{
  display: none;
}

.discount-christmas__mob{
   max-height: 100%;
    width: 100% !important;
    overflow: auto;
    display: none;
}
.discount-christmas__mob--button{
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: 1px solid white;
  padding: 8px 16px; 
  font-size: 20px; 
  color: white;
}
.discount-christmas__body--button{
  position: absolute;
  right: 60px;
  bottom: 20px;
  background: transparent;
  border: 1px solid white;
  padding: 8px 16px; 
  font-size: 20px; 
  color: white;
}
.discount-christmas__body--img{
 -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shopping-cart .summary .text {
  font-size: 1em;
  font-weight: 600;
}
.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}
.payment-form input {
  font-size: 15px;
  color: #747070;
  font-weight: lighter;
  height: 44px;
}
.order-summary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
}
.service-title h4 {
  font-size: 12px;
  margin: 0;
}
.service-image img {
  width: 60px;
  border-radius: 2px;
}
.items.payment {
  padding: 20px;
  border: 1px solid #efefef;
  background: #f7fbff;
}
.payment .payment-option-divider {
  overflow: hidden;
  text-align: center;
  margin: 2rem auto;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 0.875rem;
}
.payment .payment-option-divider::after,
.payment .payment-option-divider::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.payment .payment-option-divider::before {
  right: 1em;
  margin-left: -50%;
}
.payment .payment-option-divider::after {
  left: 1em;
  margin-right: -50%;
}
.form-control::placeholder {
  color: #d1d1d1;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d1d1d1;
}
.form-control::-ms-input-placeholder {
  color: #d1d1d1;
}
.order-images img {
  width: 140px;
}
.order-info {
  text-align: left;
  margin-top: 50px;
}
.order-content h2 {
  font-size: 40px;
  margin-top: 10px;
}
.order-info h5 span {
  font-weight: initial;
}
.order-info h5 {
  font-weight: 700;
  font-size: 18px;
}
.order-info h6 {
  font-size: 18px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
li.nav-link.user {
  position: relative;
  bottom: 6px;
}
li.nav-link.user .dropdown-menu a {
  color: #212529 !important;
  font-size: 15px;
}
@media (min-width: 768px) {
  .shopping-cart .items .product .info {
    padding-top: 0;
    text-align: left;
  }
  .shopping-cart .items .product .info .price {
    font-weight: 700;
    font-size: 22px;
    top: 17px;
  }
  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }
  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.header-image {
  position: absolute;
  width: 59rem;
  right: -237px;
  top: -103px;
}
.arrow-icon {
  width: 18px;
  margin-left: 5px;
}
.check-icon {
  width: 18px;
  margin-right: 5px;
}
.devices-icon {
  width: 24px;
  margin-right: 5px;
}

.pragraph {
  color: #0D256E;
  margin-top: 24px;
}
.create_a_schedule_sec p,
.create_your_toute_sec p,
.add_resource_filters_sec p{
  font-size: 20px;
}
.create_your_toute_sec p {
  margin-top: 40px;
  margin-bottom: 45px;
}

.gray-background {
  background-color: #FAFBFF;
  border-radius: 20px;
  position: absolute;
  height: 791px;
  width: 1319px;
  left: -119px;
  top: -15px;
}
.app_landing {
  position: absolute;
  left: -59px;
}
.shareable_plans_text {
  margin-top: 3rem;
}
