.nav-toggle {
	background-image:url(../images/menu2.png)  ;
	color:#FFF !important;
	margin-top:0;
	}
.nav-toggle:hover{color:#FFF !important;}			
.nav-collapse{
	margin-top:42px !important;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	