@media (max-width: 1520px){
		#main_center{
		position:relative !important;
		top:auto !important;
		margin-top:0px !important
		}
		}
		@media (max-width: 1440px){
		.cont_blue{
		width:55% ;
		}	
		}
		@media (max-width: 1370px){
		.filters_new .filters_cont{
		width:20% !important;
		}
		.filters_new .cont_blue_l{
		width:56% !important;
		}
		.filters_new .cont_blue_r{
		width:20% !important;
		}		
		}
		@media (max-width: 1360px){
		.reg_cont{
		max-width:40%;
		}	
		.cont_blue{
		width:58%;
		left:auto !important;
		margin:0 auto !important;
		position:relative !important;
		}
		.cont_blue_in{
		padding:0 3%;
		}	
		}
		@media (max-width: 1280px){
		.filters_new{
		width: 90% !important;
		} 
		.filters_new .filters_cont{
		width:23% !important;
		}
		.filters_new .cont_blue_l{
		width:50% !important;
		}
		.filters_new .cont_blue_r{
		width:23% !important;
		}	
		.about_l, .about_r{
		/*width:43%;*/
		}	
		/*.faq_cont{
		width:80% !important;
		}*/	
		.contact_cont{
		width:90%;
		min-height:10px;
		margin-bottom:20px;
		padding-left:5%;
		padding-right:5%;
		}
		.cont_blue{
		width:58%;
		}
		.cont_blue_l{
		width:58%;
		}
		.cancel{
		float:left
		}	
		.prof_page .cont_blue_l{
		width:96%;
		}	
		.close1{
		margin:0;
		}
		.filters_cont{
		/*width:35%;
		margin-right:0px;*/
		}
		.ind_cont{
		/*max-width:40%;*/
		}	
		.calendar_contr{
		max-width:50%;
		padding-left:0;
		padding-right:0;
		}
		.bill_cont_l{
		width:60%;
		padding-left:1%;
		padding-right:1%;
		}		
		.bill_cont_r{
		width:35%;
		}	
		.bill_cont_r a.button{
		/*line-height:40px;
		font-size:0.875em;*/
		}	
		.bill_page_cont h1.style4{
		/*font-size:2em;*/
		}	
		.contact_r{
		margin-left:0;
		float:right;
		}	
		.add_note p{
		width:80%;
		}	
		}
		@media (max-width: 1024px){
		.filters_new .filters_cont{
		width:100% !important;
		}
		.filters_new .cont_blue_l{
		width:100% !important;
		padding:0 !important;
		margin:30px 0 !important;
		}
		.filters_new .cont_blue_r{
		width:100% !important;
		}	
		.content {background-size:cover;}
		.bg{
		background-size:cover;
		}
		.logo_header img{
		width:20%;
		max-width:80px;
		}	
		.menu_dashb{
		width:100%;
		float:none;
		text-align:center ;
		}	
		.filters_in{
		/*padding:10px;*/
		}		
		.filters_close{
		/*margin:-10px -10px 0 0;*/
		}
		.cont_blue{
		/*float:right;*/
		}	
		.cont_blue_l,
		.cont_blue_r{
		width:94%;
		max-width:100%;
		padding-left: 3%;
		padding-right: 3%;
		}	
		.cont_blue_r{
		margin-top:30px;
		margin-bottom:10px;
		width:100%;
		}
		.ind_form .style_form1 label{
		max-width:150px;
		}	
		.bill_cont_l .inp1{
		margin-left:0;
		margin-right:0;
		max-width:100%;
		}	
		.label1{
		width:100%;
		text-align:left;
		padding-right:0;
		padding-top:10px;
		}
		.bill_cont_l{
		width:46%;
		padding-top:10px;
		padding-left:2%;
		padding-right:2%;
		}	
		.bill_cont_l .inp1, .bill_cont_l .inp2{
		width:98%;
		margin-right:0;
		}	
		.cont_card{
		padding-left:0;
		}	
		.cont_card img, .cont_card .rad3{
		margin-right:5px;
		}
		.bill_cont_r{width:45%;}
		#main_center{
		position:relative !important;
		top:auto !important;
		margin-top:0px !important
		}	
		.contact_r{
		width:100%;
		max-width:100%;
		}				
		}
		@media (max-width: 980px){
		.inner_page .main_cont{
		min-height:10px;
		}	
		.contact_l, .contact_r{
		width:100%;
		margin:0;
		}
		.bill_l, .bill_r{
		width:44.6%;
		padding-left:5%;
		}	
		.bill_l .list1,
		.bill_l h2,
		.bill_r .list1,
		.bill_r h2{
		padding-left:0px;
		}	
		.reg_cont{
		max-width:34%;
		}	
		.reg_cont label{
		margin-right:10px;
		}	
		.filters_link{max-width:100px;}		
		/*.filters_cont{
		padding:3%;
		width:100% !important;
		}*/
		input[type=button],
		input[type=submit]{
		padding:0 30px ;
		margin-left:0;
		margin-right:0; 
		}	
		.ind_form{
		padding-left:20px;
		padding-right:20px;
		}	
		.ind_form .style_form1 label{
		width:auto;
		max-width:none;
		padding-bottom:10px;
		}
		.business_opt a{
		margin-right:10px;
		width:100px;
		}		
		.search_bus{
		float:left;
		margin:10px 0 0 0 ;
		}	
		/*.bill_page_cont h2.style3{
		width:85%;
		}*/
		.bill_cont_blue{
		width:100%;
		}
		.about_l, .about_r{
		width:45%;
		}	
		.form_home{
		width:78%;
		}	
		.toandf_cont .inp1{
		width:96%;
		}	
		}
		@media (max-width: 768px){
		.title_land_page{
		/*font-size:2.45em;
		line-height:50px;*/
		padding:50px 0;
		}  
		#footer{
		position:relative !important;
		top:auto !important;
		margin-top:0px !important
		}	
		.contact_l, .contact_r{
		width:100%;
		float:left;
		margin:0 0 10px 0;
		}
		.bill_l, .bill_r{
		width:95%;
		padding-left:5%;
		margin-bottom:30px;
		}	
		.ind_cont, .my_acc_cont1, .my_prof_r, .filters_cont{margin-bottom:0 !important;}	
		.dashb_opt li{
		max-width:40%;
		}	
		.filters_cont{
		width:100% !important;
		}
		/*.filters_in,*/ .cont_blue{
		width:98% !important;
		max-width:100%;
		margin-bottom:20px;
		}
		.filters_link {max-width:80px !important;}	
		.filters_close{
		/*margin:-5% -5% 0 0;*/
		}		
		.cont_blue{
		width:100%;
		padding-left:0;
		padding-right:0;
		box-shadow:         0px 0px 1px 0px #666;
		-webkit-box-shadow: 0px 0px 1px 0px #666;
		-moz-box-shadow:    0px 0px 1px 0px #666;
		-o-box-shadow:      0px 0px 1px 0px #666;
		-ms-box-shadow:     0px 0px 1px 0px #666;
		}	
		input[type=button],
		input[type=submit],
		a.button{
		width:100%;
		box-sizing:border-box;
		padding-left:0;
		padding-right:0;
		text-align:center;
		}	
		.toandfrom .inp1{
		max-width:100%;
		}	
		.toandfrom .button{
		width:100%;
		}
		.bill_cont_blue p{
		width:46%;
		padding:0 2%;
		}
		.bill_cont_l input[type=button]{
		margin-right:0;
		}
		.form_home{
		width:98%;
		}
		.go_org{margin-top:10px;}
		.logo_header img{
		width:20%;
		max-width:80px;
		}		
		}
		@media (max-width: 638px){
		/*.menuppal{
		max-width:100%;
		right:0px !important;
		}	
		.menuppal ul{
		background-color: rgba(0, 0, 0, 1.0);
		}	*/
		.bg_home{background-size:auto; background-position:top left}	
		.inner_page .main_cont{
		background-position:left top;
		}	
		.about_l, .about_r,
		.faq_cont{
		width:90%;
		min-height:10px;
		margin-bottom:20px;
		padding-left:5%;
		padding-right:5%;
		}	
		.login_cont, .reg_cont, .reg_cont_r, .my_prof_r{
		width:90% ;
		max-width:100% ;
		padding-left:5%;
		padding-right:5%;
		}	
		.my_prof_r{
		width:100% ;
		padding:0;
		margin-top:30px;
		}	
		.my_acc_cont1 .inp1{
		max-width:100%;
		}	
		.link_return{
		padding:0 30px;
		}	
		.dashb_opt li, .dashb_opt li a{
		max-width:98%;
		margin-left:0;
		margin-right:0;
		}
		.ind_cont,
		.calendar_contr{
		max-width:100%;
		width:100%;
		}	
		.calendar_contr{
		padding:0
		}	
		.avatar1{
		float:left;
		clear:both;
		margin:0 0 10px 0 !important;
		line-height:40px;
		}
		.avatar1 img{
		float:left;
		margin-right:10px;
		}		
		.avatar1 br{
		display:none;
		}
		.bill_page_cont h2.style3{
		width:100%;
		margin-bottom:20px;
		}	
		.bill_cont_blue p{
		width:90%;
		padding:0 5%;
		}		
		.cont_card, .bord{
		width:100%;
		max-width:100%;
		padding-left:0;
		padding-right:0;
		border:none;
		}
		.bill_cont_l{
		width:96%;
		max-width:100%;
		padding-top:0;
		}	
		.bill_cont_l .inp1{
		margin:0 0 5px 0;
		width:98%;
		max-width:100%;
		}
		.bill_cont_l .add{
		margin:10px 0;
		}	
		.bill_cont_r{
		width:100%;
		max-width:100%;
		margin:30px 0 0 0;
		}	
		.links2 span{
		width:10px;
		}	
		.links2 li a{
		padding-left:5px;
		padding-right:5px;
		}	
		.xdsoft_datepicker{
		width:98% !important;
		}	
		.xdsoft_timepicker{
		width:98% !important;
		}
		}
		@media (max-width: 480px){
		.links1 a,
		.links1 label{
		float:none;
		display:block;
		margin:0;
		}
		.howtravelling_opt a{
		width:33%;
		}	
		.howtravelling_opt span{
		display:none;
		}	
		.links2 span{
		width:13px;
		}		

}