@charset "utf-8";
.header,
.logo_header {
	text-align: center;
}
.header,
.logo_header,
.main_cont {
	width: 100%;
	float: left;
}
.title_home,
.title_land_page {
	text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
}
.bill_cont_in,
.bill_cont_r .button,
.form_up label,
.header,
.img,
.inner_page .header img,
.links1,
.logo_header,
.main_cont {
	float: left;
}
.dashb_opt li,
.links2 li {
	display: inline-block;
}
#subway_result,
.cont_blue {
	overflow: hidden;
}
#weather_result .date3 b,
h1,
h2,
h3,
h4,
h5,
strong {
	font-weight: 400;
}
.cont_in .phone,
.more_det {
	text-transform: uppercase;
}
.bg,
body,
html {
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
:focus {
	outline: 0;
}
html {
	font-size: 100%;
}
.footer p,
body {
	font-size: 0.85em;
}
body {
	color: #666;
	font-family: OpenSansRegular;
	display: flex;
	flex-direction: column;
}
h1,
h2 {
	font-size: 2.45em;
}
.bg_home {
	background: url(../images/bg_content.jpg) center top/cover no-repeat fixed;
}
@font-face {
	font-family: OpenSansLight;
	src: url(../font/OpenSans-Light-webfont.eot);
	src: url('../font/OpenSans-Light-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-Light-webfont.woff) format('woff'),
		url(../font/OpenSans-Light-webfont.ttf) format('truetype'),
		url('../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansLightItalic;
	src: url(../font/OpenSans-LightItalic-webfont.eot);
	src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-LightItalic-webfont.woff) format('woff'),
		url(../font/OpenSans-LightItalic-webfont.ttf) format('truetype'),
		url('../font/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic')
			format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansRegular;
	src: url(../font/OpenSans-Regular-webfont.eot);
	src: url('../font/OpenSans-Regular-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-Regular-webfont.woff) format('woff'),
		url(../font/OpenSans-Regular-webfont.ttf) format('truetype'),
		url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansItalic;
	src: url(../font/OpenSans-Italic-webfont.eot);
	src: url('../font/OpenSans-Italic-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-Italic-webfont.woff) format('woff'),
		url(../font/OpenSans-Italic-webfont.ttf) format('truetype'),
		url('../font/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemibold;
	src: url(../font/OpenSans-Semibold-webfont.eot);
	src: url('../font/OpenSans-Semibold-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-Semibold-webfont.woff) format('woff'),
		url(../font/OpenSans-Semibold-webfont.ttf) format('truetype'),
		url('../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansSemiboldItalic;
	src: url(../font/OpenSans-SemiboldItalic-webfont.eot);
	src: url('../font/OpenSans-SemiboldItalic-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-SemiboldItalic-webfont.woff) format('woff'),
		url(../font/OpenSans-SemiboldItalic-webfont.ttf) format('truetype'),
		url('../font/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic')
			format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBold;
	src: url(../font/OpenSans-Bold-webfont.eot);
	src: url('../font/OpenSans-Bold-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-Bold-webfont.woff) format('woff'),
		url(../font/OpenSans-Bold-webfont.ttf) format('truetype'),
		url('../font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansBoldItalic;
	src: url(../font/OpenSans-BoldItalic-webfont.eot);
	src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-BoldItalic-webfont.woff) format('woff'),
		url(../font/OpenSans-BoldItalic-webfont.ttf) format('truetype'),
		url('../font/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic')
			format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansExtrabold;
	src: url(../font/OpenSans-ExtraBold-webfont.eot);
	src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-ExtraBold-webfont.woff) format('woff'),
		url(../font/OpenSans-ExtraBold-webfont.ttf) format('truetype'),
		url('../font/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold')
			format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSansExtraboldItalic;
	src: url(../font/OpenSans-ExtraBoldItalic-webfont.eot);
	src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix')
			format('embedded-opentype'),
		url(../font/OpenSans-ExtraBoldItalic-webfont.woff) format('woff'),
		url(../font/OpenSans-ExtraBoldItalic-webfont.ttf) format('truetype'),
		url('../font/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic')
			format('svg');
	font-weight: 400;
	font-style: normal;
}
img {
	border: none;
	max-width: 100%;
}
p {
	margin: 15px 0;
}
ul {
	margin-left: 30px;
}
.social_icons li a img,
.social_icons li a:hover img,
a,
a:hover {
	text-decoration: none;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: #000 !important;
}
.add,
.links1 a,
.login_cont a,
.style4 {
	text-decoration: underline;
}
h1 {
	color: #1973b2;
	font-family: OpenSansLight;
}
.logo_header h1,
h2,
strong {
	font-family: OpenSansBold;
}
h2 {
	color: #1f72b2;
}
.ind_scroll li a,
label {
	color: #222;
}
:-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
}
::-moz-placeholder {
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
input,
input:focus,
input:hover,
select,
select:focus,
select:hover,
textarea,
textarea:focus,
textarea:hover {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
input,
select,
textarea {
	background: #fff;
	border: none;
	box-shadow: 1px 1px 3px 0 #d1d2d2;
	-webkit-box-shadow: 1px 1px 3px 0 #d1d2d2;
	-moz-box-shadow: 1px 1px 3px 0 #d1d2d2;
	-o-box-shadow: 1px 1px 3px 0 #d1d2d2;
	-ms-box-shadow: 1px 1px 3px 0 #d1d2d2;
	padding: 18px 1%;
	box-sizing: border-box;
	font-family: OpenSansRegular;
	text-indent: 23px;
	color: #999;
}
textarea {
	padding-top: 10px;
}
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
	box-shadow: 1px 1px 3px 0 #9f9f9f;
	-webkit-box-shadow: 1px 1px 3px 0 #9f9f9f;
	-moz-box-shadow: 1px 1px 3px 0 #9f9f9f;
	-o-box-shadow: 1px 1px 3px 0 #9f9f9f;
	-ms-box-shadow: 1px 1px 3px 0 #9f9f9f;
}
input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='submit'] {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
input[type='checkbox'],
input[type='radio'] {
	margin-right: 5px;
}
.button,
.jobs_link,
.link_return {
	background: #f08a0d;
	border-bottom-color: #cb750c;
}
.button:hover,
.jobs_link:focus,
.jobs_link:hover,
.link_return:focus,
.link_return:hover,
.links2 li a.active,
button:focus {
	background: #f49f32;
}
.header {
	padding: 27px 0 0;
	position: relative;
	z-index: 10001;
}
.logo_header h1 {
	color: #f49f32;
	padding-top: 0;
	text-shadow: none;
	-moz-text-shadow: none;
}
.logo_header img {
	width: 6%;
}
.main_cont {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 5px 15px 0 #000;
	-webkit-box-shadow: 0 5px 15px 0 #000;
	-moz-box-shadow: 0 5px 15px 0 #000;
	-o-box-shadow: 0 5px 15px 0 #000;
	-ms-box-shadow: 0 5px 15px 0 #000;
	margin-top: 20px;
	padding: 40px 0;
}
.form_home,
.title_land_page {
	margin: 0 auto;
	text-align: center;
}
.title_land_page {
	width: 98%;
	color: #1972b2;
	padding: 82px 0 130px;
}
.footer p {
	text-align: center;
	font-size: 0.85em;
	margin: 0;
}
.form_home {
	width: 30%;
	padding: 0;
	clear: both;
}
.title_home {
	font-size: 3em;
	margin: 0 0 16px;
	font-family: OpenSansSemiBold;
}
.about_r h2 strong,
.link_return,
.style1 {
	font-family: OpenSansBold;
}
.form_home label {
	margin: 0 20px 0 0;
}
.form_home input[type='radio'] {
	margin-bottom: 30px;
}
.form_home input[type='password'],
.form_home input[type='text'] {
	width: 100%;
	display: block;
	margin: 0 0 22px;
}
.form_home input[type='button'],
.form_home input[type='submit'] {
	width: 98%;
	max-width: 255px;
	float: none;
	margin: 0 auto;
}
.links1 {
	width: 100%;
	font-size: 0.875em;
	color: #5782b5;
	padding: 20px 0 0;
}
.links1 label {
	float: left;
	color: #5782b5;
	margin-right: 0;
}
.links1 a {
	color: #5782b5;
}
.forgot_p {
	float: right;
	margin-right: 9px;
}
.bill_page_cont,
.cont_in {
	width: 98%;
	margin: 0 auto;
}
#map,
#right-panel select,
.bg,
.buttoncont1 .bt_grey,
.contact_r img,
.explore_tab_items .add_to_list_btn .btn_btn,
.form-group.people-field,
.skip_item_section.no-background .list-unstyled {
	width: 100%;
}
.bg {
	position: absolute;
	background-image: url(../images/bg_page_in.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}
#map,
.howtravelling_cont,
.links2,
.routemap,
.toandfrom {
	position: relative;
}
.footer {
	flex-shrink: 0;
	z-index: 100000;
}
.empjob_page .content {
	background-image: none;
}
#map {
	top: 0;
	background: #ccc;
	min-height: 1000px;
}
.bill_cont_l_emp h1,
.marg_topfooter {
	margin-top: 20px;
}
.bg_home .content,
.empjob_page {
	background: 0 0;
}
#calendar h2,
.bg_home .footer,
.your_plan_tab_menu .nav-tabs li.active a {
	color: #fff;
}
.inner_page .header {
	background: #ebeef1;
	text-align: left;
	padding: 17px 0;
}
.inner_page .header ._layer {
	background-color: #2073b3;
}
.inner_page .header .hamburger {
	position: relative;
	top: auto;
	left: auto;
	right: 30px;
	float: right;
	margin-top: 30px;
}
.inner_page .menuppal {
	top: 70px;
}
.inner_page .main_cont {
	background: 0 0;
	margin: 0;
	padding: 40px 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.inner_page .footer {
	color: #333;
	background: #fff;
}
.inner_page h1 {
	border-bottom: 1px solid #86bfea;
	padding-bottom: 12px;
}
.cont_opc {
	background: rgba(255, 255, 255, 0.8);
	margin-bottom: 0;
}
.about_l,
.about_r {
	width: 52%;
	min-height: 465px;
	float: left;
	padding: 20px 30px;
	font-size: 0.95em;
	line-height: 2em;
	margin-bottom: 0;
}
.about_l p {
	font-size: 1.1em;
	line-height: 2.1em;
}
.about_r {
	width: 40%;
	float: right;
	padding: 33px 0;
	text-align: center;
	color: #1d74b3;
	font-size: 1em;
	line-height: 1.5em;
}
.about_r img {
	max-width: 90%;
}
.about_r h2 {
	margin: 20px 0 0;
	line-height: 1em;
}
.about_r h2 strong {
	font-size: 0.75em;
	line-height: 2em;
}
.about_r p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	max-width: 374px;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 1.3em;
	line-height: 1.8em;
}
.contact_cont {
	width: 80%;
	float: left;
	min-height: 425px;
	padding: 60px 92px;
}
.contact_l {
	width: 40%;
	float: left;
	margin: 28px 0 0;
	padding-left: 3%;
	font-size: 1.1em;
	line-height: 2.1em;
}
.contact_cont h1 {
	margin-bottom: 42px;
	line-height: 2em;
}
#weather_result,
.bill_info_top p {
	margin: 15px 0 0;
}
.contact_r {
	width: 60%;
	float: left;
	margin-left: 0;
	max-width: 500px;
}
.bill_info_top {
	margin: 0 auto;
	color: #fff;
}
.style1 {
	color: #fff;
	line-height: 1em;
}
.bill_l,
.bill_r {
	width: 42.6%;
	float: left;
	margin-top: 20px;
	padding: 32px 0 43px 7%;
}
.align_r,
.bill_r {
	float: right;
}
.bill_l h1,
.bill_r h1,
.your_plan_tab_menu .nav-tabs {
	border: none;
}
.bill_l h2,
.bill_r h2 {
	color: #f69f31;
	padding-left: 50px;
	padding-bottom: 10px;
	line-height: 2em;
	font-size: 1.7em;
}
.list1 {
	padding: 20px 80px 0 0;
	margin: 0;
}
.list1 li {
	background: url(../images/icon_list1.png) left top no-repeat;
	padding-left: 43px;
	list-style: none;
	line-height: 2em;
	margin-bottom: 14px;
}
.bill_r .list1 {
	padding-left: 0;
}
.bill_r h2 {
	padding-left: 30px;
}
.style2 {
	width: 100%;
	float: left;
	clear: both;
	line-height: 1.5em;
}
.style2 p {
	width: 98%;
	margin: 0 auto;
	clear: both;
	text-align: center;
	max-width: 1211px;
	padding: 20px 0;
}
#weather_result .date3 img,
.faq_cont {
	width: 90%;
}
.inner_page2 .header {
	background-color: #fff;
	border-bottom: 1px solid #ececec;
}
.ind_scroll li:last-child,
.inner_page2 .header.no_bord_b {
	border-bottom: none;
}
.style3 {
	width: 98%;
	padding: 40px 1% 28px;
	clear: both;
	float: left;
	background: #fff;
}
.login_cont,
.reg_cont {
	width: 44%;
	float: left;
	padding: 24px 46px;
	color: #999;
	background: rgba(245, 251, 254, 0.9);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 1px 1px 5px 0 #666;
	-webkit-box-shadow: 1px 1px 5px 0 #666;
	-moz-box-shadow: 1px 1px 5px 0 #666;
	-o-box-shadow: 1px 1px 5px 0 #666;
	-ms-box-shadow: 1px 1px 5px 0 #666;
}
.login_cont h1,
.reg_cont h1 {
	margin-bottom: 34px;
	font-size: 2.25em;
	line-height: 1.2em;
}
.inp1 {
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	margin: 10px 0 0;
}
#embassy_result,
.login_cont a,
.login_cont label,
.reg_cont a,
.reg_cont label {
	font-size: 0.85em;
	line-height: 2em;
}
.login_cont .inp1,
.reg_cont .inp1 {
	max-width: 380px;
	width: 100%;
}
.login_cont .inp1 {
	margin-bottom: 18px;
	margin-top: 0;
}
.login_cont a,
.login_cont label {
	color: #999;
}
.button2 {
	float: right;
	clear: both;
	border: none !important;
}
.marg_r {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.my_acc_cont1 h1,
.reg_cont h1,
.vizcaya_museum_gargens_right li {
	margin-bottom: 10px;
}
.reg_cont label {
	margin-right: 50px;
	color: #666;
}
.reg_cont .button {
	margin-top: 70px;
}
.reg_cont_r {
	width: 45%;
	float: right;
	color: #fff;
	padding-top: 24px;
}
.reg_cont_r h1 {
	color: #fff;
	border-color: #fff;
}
.reg_cont_r ul {
	margin: 0;
	padding-top: 13px;
	list-style: none;
	line-height: 1.7em;
}
.reg_cont_r li {
	background: url(../images/icon_list2.png) left top no-repeat;
	margin-top: 18px;
	padding: 0 0 0 38px;
}
.avatar {
	text-align: center;
	float: right;
	padding: 26px 0 0;
}
.bill_cont_l_emp .inp1,
body.dashboard_page .header {
	padding: 10px 0;
}
.dashb_logo {
	max-width: 65px;
	max-height: 66px;
}
.dashb_opt,
.dashboard_page .header .cont_in {
	max-width: 1228px;
}
.dashboard_page .main_cont {
	background: #fff;
	min-height: 1px;
}
.disp_n,
.form_up .ajax-upload-dragdrop span {
	display: none !important;
}
.menu_dashb {
	float: left;
	padding-top: 14px;
}
.link_return {
	color: #fff;
	float: right;
	margin: 18px 0 0;
	padding: 0 35px;
}
#calendar table td.fc-widget-header a,
.link_return:hover,
.refresh_style:hover,
.skip_style:hover,
.your_plan_tab_menu .nav-tabs li a:hover {
	color: #fff !important;
}
.dashb_opt {
	width: 98%;
	margin: 0 auto;
	text-align: center;
	list-style: none;
	font-family: OpenSansLight;
}
.dashb_opt li {
	width: 100%;
	max-width: 340px;
	margin: 7px;
}
.dashb_opt li a {
	width: 100%;
	max-width: 340px;
	display: block;
	text-align: center;
	color: #222;
	cursor: pointer;
	padding: 30px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 2px 2px 5px 0 #ccc;
	-webkit-box-shadow: 2px 2px 5px 0 #ccc;
	-moz-box-shadow: 2px 2px 5px 0 #ccc;
	-o-box-shadow: 2px 2px 5px 0 #ccc;
	-ms-box-shadow: 2px 2px 5px 0 #ccc;
}
.dashb_opt a:hover {
	background: #d9e7f3;
	color: #1c72b7 !important;
	box-shadow: 2px 2px 5px 0 #999;
	-webkit-box-shadow: 2px 2px 5px 0 #999;
	-moz-box-shadow: 2px 2px 5px 0 #999;
	-o-box-shadow: 2px 2px 5px 0 #999;
	-ms-box-shadow: 2px 2px 5px 0 #999;
}
.dashb_opt li img {
	max-width: 60%;
}
.links2 {
	width: 100%;
	float: left;
	height: 55px;
	background: url(../images/bg_cont_top.jpg) top repeat-x #1c73b7;
	padding: 6px 0 0;
	z-index: 101;
	text-align: center;
}
.directions,
.links2 img,
.links2 li,
.links2 ul {
	margin: 0;
	padding: 0;
}
.links2 li a {
	float: left;
	padding: 5px 10px;
}
.links2 img {
	height: 45px;
	float: left;
}
.links2 span {
	width: 30px;
	float: left;
	height: 2px;
	background: url(../images/steps-icons/step_sep_act.png) repeat-x;
	margin: 28px 2px 0 5px;
}
.links2 .sep1 {
	background: url(../images/steps-icons/step_sep.png) repeat-x;
}
.no_bg {
	background: #f4f4f4 !important;
	min-height: 10px !important;
}
.ind_scroll .hscrollerbase,
.ind_scroll .vscrollerbase,
.no_bg2 {
	background: 0 0 !important;
}
.filters_cont {
	float: left;
	width: 20%;
	clear: left;
}
.filters_close,
.filters_link {
	width: 50%;
	min-width: 80px;
	max-width: 100px;
	float: left;
	color: #fff;
	background: #1c72b4;
	padding: 10px;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
}
.filters_close:hover,
.filters_link:hover {
	color: #fff !important;
	background: #f79e31;
}
.filters_link img {
	max-width: 80%;
	margin-bottom: 5px;
}
.filters_close {
	width: auto;
	float: right;
	padding-bottom: 5px;
	min-width: 1px;
	margin: -7% -7% 0 0;
}
.filters_in {
	width: 90%;
	clear: both;
	float: left;
	background: #1c72b4;
	padding: 5%;
}
.filters_in h3 {
	color: #fff;
	font-family: OpenSansSemibold;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}
.filters_in label {
	display: block;
	color: #fff;
	font-size: 1em;
	line-height: 1.6em;
	margin-left: 5px;
}
.style5,
.style_form1 label,
a.go_org {
	display: inline-block;
}
.filters_in input[type='checkbox'] {
	margin-right: 10px;
}
.close_cont_blue {
	float: left;
	clear: both;
	padding-top: 15px;
}
.cont_blue {
	min-height: 100px;
	width: 56%;
	float: none;
	margin: 0 auto 20px;
	padding: 26px 0 45px;
	background: rgba(245, 251, 254, 0.9);
	box-shadow: 1px 1px 5px 0 #666;
	-webkit-box-shadow: 1px 1px 5px 0 #666;
	-moz-box-shadow: 1px 1px 5px 0 #666;
	-o-box-shadow: 1px 1px 5px 0 #666;
	-ms-box-shadow: 1px 1px 5px 0 #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#filter_map,
.buttoncont1,
.cont_blue .inp1 {
	float: left;
	width: 100%;
}
.filters_new {
	width: 85% !important;
}
.cont_blue_in {
	padding: 0 4%;
}
.cont_blue_l {
	float: left;
	width: 65%;
}
.cont_blue h1 {
	margin-bottom: 24px;
	line-height: 1.2em;
}
.cont_blue .inp1 {
	text-indent: 20px;
	text-align: left;
	padding: 12px 0;
}
.cont_blue select.inp1 {
	text-indent: 10px;
	padding: 2%;
}
.cont_blue .button {
	border: none;
	margin-top: 16px;
	padding-left: 6% !important;
	padding-right: 6% !important;
}
.bt_blue,
.employees_link {
	background: rgba(28, 114, 180, 0.65);
}
.bt_blue:hover,
.employees_link:focus,
.employees_link:hover {
	background: #228cdb;
}
.jobs_link {
	background: rgba(240, 138, 13, 0.65);
}
.marg_b {
	margin-bottom: 15px;
}
.textarea1 {
	height: 140px;
	background: url(../images/bg_text.jpg);
	line-height: 2em;
	text-indent: 0 !important;
	font-size: 1em;
	padding: 0 20px !important;
}
.bill_cont_l select.inp1,
.error_cont {
	text-indent: 10px;
}
.buttoncont1 {
	max-width: 293px;
}
.buttoncont1 .button {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.bt_grey {
	background: #888;
}
.bt_grey:hover {
	background: #9b9b9b;
}
.cont_blue_r {
	width: 32%;
	float: right;
	box-sizing: border-box;
	color: #666;
	padding: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 0.875em;
	border: 1px solid #bdddf4;
	background: #fafdff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.cont_blue_r h3 {
	margin: 0 0 10px;
}
.cont_blue_r p,
.form-group.people-action {
	margin: 0;
}
.filters_new .cont_blue_l {
	width: 56%;
	margin-left: 2%;
	margin-right: 2%;
}
.filters_new .cont_blue_r {
	width: 20%;
	margin-top: 0;
}
#filter_map {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.filters_new .cont_blue_l input[type='text'] {
	width: 55px !important;
	margin: 0 10px;
	display: inline-block;
	float: none;
}
.close1 {
	width: 23px;
	height: 23px;
	float: right;
	background: url(../images/icon_close2.png) center no-repeat;
}
.close1:hover {
	background-image: url(../images/icon_close2_h.png);
}
.skip_notes {
	float: right;
	color: #444;
	font-family: OpenSansBold;
	clear: both;
	margin-right: 10px;
}
.marg_l {
	margin-left: 16px;
}
.calendar_cont,
.calendar_cont2 {
	width: 94%;
	float: left;
	background: #fff;
	min-height: 100px;
	padding: 3%;
	margin: 24px 0 0;
}
.calendar_cont2 {
	float: none;
	margin: 0 auto;
	padding-top: 20px;
	clear: both;
}
.calendar_cont2 #calendar h2,
.my_prof_r_in h3 {
	color: #1e74ae;
}
.cont_add_doc {
	list-style: none;
	margin: 0;
}
.cont_add_doc li {
	border-bottom: 1px solid #f5e0c3;
	padding: 20px 0 20px 60px;
	background-position: left center;
	background-repeat: no-repeat;
}
.bill_cont_blue p span,
.cont_add_doc a {
	color: #1f72b2;
	font-family: OpenSansLight;
}
.ind_cont h3,
.more_det,
.style_form1 label {
	font-family: OpenSansBold;
}
#right-panel,
#weather_result .date3 b,
.cont_add_doc .add_d,
.my_prof_r_in h2 span {
	font-family: OpenSansRegular;
}
.passport {
	background-image: url(../images/icon1.png);
}
.driverlicense {
	background-image: url(../images/icon2.png);
}
.hotelitinerary {
	background-image: url(../images/icon3.png);
}
.travelitinerary {
	background-image: url(../images/icon4.png);
}
.cont_add_doc .add_d {
	float: right;
	color: #777;
	background: url(../images/icon_add_d.png) right center no-repeat;
	padding-right: 34px;
	margin: 15px 0 -15px;
}
.cont_add_doc .add_d:hover {
	background: url(../images/icon_add_d.png) right top no-repeat;
}
.no_style,
.no_style:focus,
.no_style:hover {
	width: 120px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: 0 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.style_form1 label {
	width: 100%;
	max-width: 140px;
	color: #333;
}
.style4 {
	color: #333;
}
.add {
	float: left;
	color: #1b72b3;
	margin-top: -10px;
}
.marg_1 {
	margin: 0 4%;
}
.howtravelling_cont {
	width: 45%;
	box-sizing: border-box;
	text-align: center;
	z-index: 100000;
	margin-bottom: 0;
}
.howtravelling_cont2 .cont_blue_in .button {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.howtravelling_opt {
	width: 90%;
	float: left;
	padding: 25px 0;
	margin: 0 5%;
}
.howtravelling_opt a {
	width: 20%;
	float: left;
	background-position: top;
	background-repeat: no-repeat;
	padding: 80px 0 0;
	color: #202020;
}
.howtravelling_opt a:hover {
	color: #1769ad !important;
}
.howtravelling_opt span {
	width: 20%;
	float: left;
	margin: 36px 0;
}
.vehicle {
	background-image: url(../images/icon_vehicle.png);
}
.vehicle:hover {
	background-image: url(../images/icon_vehicle_h.png);
}
.plane {
	background-image: url(../images/icon_plane.png);
}
.plane:hover {
	background-image: url(../images/icon_plane_h.png);
}
.train {
	background-image: url(../images/icon_train.png);
}
.train:hover {
	background-image: url(../images/icon_train_h.png);
}
.toandfrom .inp1 {
	max-width: 35%;
	margin-right: 3%;
}
.toandfrom .button {
	width: 23%;
	float: left;
	margin: 9px 0 0;
}
.routemap,
.toandfrom {
	z-index: 101;
}
.scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.vscrollerbase {
	width: 15px;
	background-color: #fff;
}
.vscrollerbar {
	width: 5px;
	background-color: #f49f32;
	border: 5px solid #fff;
}
.hscrollerbase {
	height: 5px;
	background-color: #fff;
}
.hscrollerbar {
	height: 5px;
	background-color: #f49f32;
}
.scrollerjogbox {
	width: 5px;
	height: 5px;
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	background-color: gray;
}
.avatar1 {
	text-align: center;
	color: #858c90;
	float: right;
	margin: 26px 0 0;
}
.ind_form {
	margin-top: 34px;
	float: right;
	padding-top: 65px;
	min-height: 360px;
}
.ind_form h2 {
	text-align: center;
	padding-bottom: 60px;
}
.style_form1 h2 {
	padding-bottom: 40px;
}
.ind_form .style_form1 label {
	float: left;
	width: auto;
	max-width: none;
	font-family: OpenSansBold;
	color: #333;
}
.ind_form .style_form1 a {
	color: #333;
}
.form_up {
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.form_up .ajax-upload-dragdrop {
	width: auto !important;
	float: right !important;
	padding: 0 !important;
	margin: 0 !important;
}
.form_up .ajax-file-upload {
	margin: 0;
	padding: 5% 5px 5% 28px;
	height: auto !important;
	color: #333;
	background: url(../images/choosefile_icon.png) left top no-repeat #d4d4d4;
	border: 1px solid #aaa;
	cursor: pointer !important;
}
.form_up .ajax-file-upload:hover {
	background: url(../images/choosefileH_icon.png) left top no-repeat #d4d4d4;
}
.form_up .ajax-file-upload-container {
	width: 100% !important;
	float: right !important;
	padding: 0 !important;
	margin: 0 !important;
}
.form_up .ajax-file-upload-red {
	width: 18px;
	height: 17px;
	float: right;
	overflow: hidden;
	background: url(../images/delete_icon.png) center no-repeat;
	text-indent: -99999px;
	padding: 0 !important;
	margin: 0 !important;
}
.form_up .ajax-file-upload-filename {
	max-width: 90%;
	float: left;
	padding: 0 !important;
	margin: 0 !important;
}
.form_up .ajax-file-upload-statusbar {
	width: 100% !important;
	float: left;
	padding: 5px 0;
	border-bottom: 1px solid #999;
}
.style5 {
	width: 215px;
}
.ind_cont {
	width: 45%;
	float: left;
}
.ind_cont h3 {
	color: #fff;
	font-size: 1em;
}
.ind_scroll {
	border-style: solid;
	border-width: 14px;
	border-color: rgba(255, 255, 255, 0);
	border-left: none;
	border-right: none;
	background: rgba(255, 255, 255, 0.46) !important;
	min-height: 185px;
	max-height: 185px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.ind_scroll .vscrollerbar {
	border: rgba(255, 255, 255, 0.46) !important;
}
.ind_scroll .div1 {
	padding: 0 14px;
}
.ind_scroll ul {
	margin: 0;
	min-height: 185px;
	background: rgba(255, 255, 255, 0.8);
}
a.go_org,
a.go_org:hover {
	background-image: url(../images/arrow_r.png);
	background-repeat: no-repeat;
}
.ind_scroll li {
	list-style: none;
	font-size: 0.875em;
	color: #222;
	border-bottom: 1px solid #5881ad;
	padding: 6px 20px 7px;
}
.ind_scroll li a:hover {
	color: #1c72b4 !important;
}
.style6 {
	clear: both;
	background: #fff;
	width: 98%;
	padding: 20px 1% 30px;
	text-align: center;
}
.phone {
	float: left;
	color: #333;
}
a.go_org {
	float: right;
	padding-right: 70px !important;
	padding-left: 38px;
	background-position: 85% center;
	border: none;
}
a.go_org:hover {
	color: #fff !important;
	background-position: 90% center;
}
.calendar_contr,
.my_prof_r {
	float: right;
	background: 0 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
.business_opt {
	float: left;
	width: 100%;
}
.business_opt a {
	color: #fff !important;
	width: 20%;
	float: left;
	padding: 20px 0 16px;
	margin: 0 40px 0 0;
	text-align: center;
}
.business_opt img {
	max-width: 50%;
	margin-bottom: 10px;
}
.search_bus {
	float: right;
	color: #fff;
	margin: 10px 0 -10px;
}
.search_bus .inp1 {
	width: 177px;
	padding: 3px;
	margin-left: 5px;
	text-indent: 0;
	height: auto;
}
.bill_page_cont h1.style4,
.bill_page_cont h2.style3 {
	padding: 28px 0 10px;
	border-bottom: 1px solid #86bfea;
}
.bill_page_cont h2.style3 {
	padding-top: 60px;
}
.bill_cont_blue {
	width: 100%;
	float: left;
	background: #ebf5fc;
	padding: 26px 0;
	margin: 35px 0 30px;
}
.bill_cont_blue p {
	width: 38%;
	float: left;
	padding-left: 12%;
}
.rad2 {
	float: left;
	margin-top: 10px;
}
.bill_cont_blue label {
	padding-left: 15px;
	float: left;
}
.bill_cont_l {
	width: 55%;
	float: left;
	padding: 47px 0 0;
	margin-bottom: 0;
	background: #fdedd8;
}
.bill_cont_l_in {
	width: 100%;
	float: none;
	margin: 0 auto;
	max-width: 674px;
	padding-bottom: 40px;
}
.bord {
	width: 96%;
	float: left;
	padding-right: 4%;
	border-right: 1px solid #ccc;
}
#win_details10 {
	background: #fff;
	border: 1px solid #ccc;
	padding: 3%;
	margin-top: 10px;
}
.cont_card {
	width: 94%;
	float: left;
	text-align: center;
	padding: 0 0 28px 6%;
}
.cont_card .rad3 {
	margin-right: 12px;
	display: inline;
}
.cont_card img {
	display: inline;
	margin: 15px 34px -10px 0;
}
#data_list.emp_job .add_note p,
.add_note p,
.more_det,
.rad_cont,
input.cancel {
	display: inline-block;
}
.label1 {
	width: 18%;
	float: left;
	text-align: right;
	color: #999;
	padding-top: 18px;
}
.bill_cont_l .inp1 {
	width: 79%;
	max-width: 507px;
	margin-left: 15px;
}
.bill_cont_l .inp2 {
	width: 37.8%;
}
.bill_cont_l .add {
	float: none;
	margin-left: 14px;
}
.bill_cont_l .button {
	margin-top: 40px;
	margin-right: 10px;
}
.bill_cont_r {
	float: right;
	width: 40%;
	margin: 220px 0 0;
}
.bill_cont_r h1 {
	border: none;
	text-align: center;
}
.bill_cont_r h1 img {
	margin: 0 0 -15px 25px;
}
.bill_cont_r a.button {
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	margin-top: 28px;
	border: none;
	color: #fff !important;
}
.bill_page_cont h1.style4 {
	text-align: center;
	text-decoration: none;
	border: none;
	color: #1f72b2;
	padding: 60px 0 10px;
	clear: both;
}
.bill_page_cont .avatar1 {
	margin-top: 56px;
}
.bill_cont_r input[type='text'] {
	width: 98%;
	max-width: 300px;
	margin-top: 5px;
}
.error_style,
.payment-errors {
	width: 100%;
	color: #f49f32;
	font-size: 14px;
}
.payment-errors {
	line-height: 46px;
}
#calendar table td.fc-widget-header {
	background: #1e74ae !important;
	color: #fff !important;
}
#calendar table a {
	color: #333 !important;
	text-decoration: none !important;
}
#calendar table tr td {
	background: #e3f1fb;
	border-color: #fff;
}
#embassy_result,
#mycustomscroll {
	overflow: auto;
	position: relative;
}
.filters_cont #embassy_result.ind_scroll {
	background: #fff !important;
	min-height: 0;
	width: 100% !important;
	max-width: 265px !important;
	min-width: 265px !important;
}
#right-panel,
#weather_result hr,
input.cancel,
input.cancel:hover {
	background: 0 0 !important;
}
div#embassy_search {
	margin-bottom: 20px;
}
#embassy_result,
#subway_result {
	width: 97%;
	height: 159px;
	background: #ffffff;
	border: 1px solid #d1cccc;
	color: #212121 !important;
	border-radius: 10px;
}
#embassy_result a,
#subway_result a {
	color: #212121 !important;
	display: inline-block;
	padding: 0 0 0 10px;
}
#embassy_result a:hover {
	color: #f08a0d;
}
#weather_result {
	width: 100%;
	padding: 10px 2%;
	color: #8a8a7b;
	font-size: 1em !important;
	background: #fff;
	box-sizing: border-box;
}
#weather_result .dest1 {
	font-size: 1.5em;
	color: #666;
	font-family: OpenSansSemibold;
}
#weather_result .date1,
#weather_result .date4 {
	font-size: 0.85em;
	color: #999;
}
#weather_result .date4 {
	color: #666;
}
#weather_result .date4 b {
	font-weight: 400;
	color: #999;
}
#weather_result .date2 {
	font-size: 3em;
	line-height: 0.75em;
	color: #1c72b4;
	font-family: OpenSansSemibold;
	margin: 10px 0;
}
#weather_result .date2 td,
.rad_cont span {
	padding-right: 10px;
}
#weather_result .date2 img {
	width: 100% !important;
	max-width: 100% !important;
}
#weather_result hr {
	border: none;
	border-bottom: 1px solid #ccc;
	outline-color: none !important;
	margin: 10px 0;
}
#weather_result .date3 {
	padding: 10px 0;
	font-size: 0.95em;
	line-height: 1.5em;
	text-align: center;
	color: #666;
}
#weather_result .date3 b {
	color: #666;
}
#weather_result .date3 span {
	font-family: OpenSansSemibold;
}
#loading_list {
	display: none;
}
.add_note {
	padding: 5px 10px;
	background: #fafdff;
	border: 1px solid #bdddf4;
	margin-top: 15px;
	margin-bottom: -14px;
}
.add_note p {
	width: 90%;
	margin: 0;
	padding: 0;
}
.add_note img {
	float: right;
	width: 10px;
	margin: 4px 0 0 7px;
}
input.cancel {
	float: none !important;
	padding: 0 !important;
	margin-left: 0 !important;
	color: #333 !important;
	clear: both !important;
}
input.cancel:hover {
	color: red !important;
}
.bt_grey2 {
	font-size: 0.85em !important;
	margin-top: 5px !important;
	margin-bottom: 30px !important;
}
.bill_cont_l .inp3 {
	width: 29%;
}
.bill_cont_l select.inp4 {
	width: auto;
	min-width: 20%;
	padding: 0 0 0 10px !important;
	text-align: left;
	text-indent: 0 !important;
}
.inp_text {
	height: 100px;
}
.label2 {
	padding-top: 12px;
}
.rad_cont {
	padding: 20px 0 0 15px;
}
.bill_cont_l_emp select.inp1,
.bill_cont_r_emp input[type='text'] {
	padding: 10px 0 !important;
}
.bill_cont_l_emp .inp2 {
	width: 36%;
}
.bill_cont_l_emp .add_note {
	margin-top: 10px;
	padding-bottom: 15px;
}
.bill_cont_l_emp .add_note img {
	width: 15px;
}
#data_list.emp_job {
	width: 98%;
	margin: 0 auto 32px;
	float: none;
	padding-top: 0;
	clear: both;
}
#data_list.emp_job .add_note p {
	width: 48%;
	padding-right: 2%;
}
.more_det {
	padding: 0 26px 0 0;
	margin: 0;
	color: #1e74ae;
	background: url(../images/arrow_r2.png) right center no-repeat;
}
.det_emp strong,
.error_cont {
	font-family: OpenSansSemiBold;
}
.more_det:hover {
	background: url(../images/arrow_r2.png) right bottom no-repeat;
}
.det_emp {
	background: #fff;
	border: 1px solid #ccc;
	padding: 1%;
	width: 98%;
	margin-top: 10px;
	color: #333;
}
.error_cont {
	width: 100%;
	float: left;
	color: #8c0000;
	background: #f0f0e1;
	margin: 10px 0;
}
.my_acc_cont1,
.my_prof_r_in {
	background: rgba(255, 255, 255, 0.8);
}
.font2,
.my_acc_cont1,
.my_prof_r {
	margin-bottom: 0;
}
.bill_cont_r_emp {
	margin-top: 40px;
}
.bill_cont_r_emp h1 {
	text-align: left;
}
.my_acc_cont1 {
	width: 41%;
	padding: 20px 2%;
	border-radius: 0;
	box-shadow: none;
}
.my_acc_cont1 .inp1 {
	width: 99%;
	max-width: 350px;
	margin-bottom: 10px;
}
.my_prof_r {
	width: 45%;
	float: right;
	text-align: center;
	padding: 0;
}
.my_prof_r .img {
	float: none;
	margin: 0 auto -5px;
	max-width: 130px;
}
.my_prof_r_in {
	width: 96%;
	float: left;
	padding: 20px 2%;
	text-align: left;
}
.my_prof_r_in h2 {
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.5em;
}
.my_prof_r_in ul {
	margin: 0;
	list-style: none;
	color: #333;
	padding-top: 20px;
}
.my_prof_r_in li img {
	float: right;
	margin-left: 10px;
}
.doc {
	max-width: 13px;
}
.my_acc_cont2 {
	color: #333;
	padding: 0 0 20px 20px;
	margin: 0;
}
.icon_photo {
	width: 20px;
	margin-top: 0;
}
.ajax-file-upload-abort,
.ajax-file-upload-bar,
.ajax-file-upload-cancel,
.ajax-file-upload-green,
.ajax-file-upload-progress {
	display: none !important;
	visibility: hidden !important;
	overflow: hidden !important;
}
.calendar_contr #calendar .fc-center h2 {
	display: inline-block !important;
	font-size: 2em;
}
.calendar_contr #calendar td,
.calendar_contr #calendar th {
	border-color: #1e74ae !important;
}
.calendar_contr #calendar .fc-next-button,
.calendar_contr #calendar .fc-prev-button {
	background: 0 0 !important;
	border: none !important;
	display: inline-block !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 2em;
}
.calendar_contr #calendar .fc-icon {
	color: #fff !important;
	text-shadow: none !important;
}
.xdsoft_datetimepicker {
	width: 100% !important;
	max-width: 100% !important;
	border: none !important;
}
.xdsoft_timepicker button.xdsoft_next,
.xdsoft_timepicker button.xdsoft_prev {
	margin: 0 auto !important;
}
.xdsoft_datepicker {
	width: 75% !important;
}
.xdsoft_timepicker {
	width: 20% !important;
}
.g-recaptcha,
.social_icons,
.style11 {
	width: 100%;
	float: left;
}
.xdsoft_label {
	color: #1c73b7 !important;
}
.xdsoft_calendar table thead th {
	background: #1c73b7 !important;
	padding: 0 !important;
	color: #fff !important;
}
.xdsoft_date {
	background: #e3f1fb !important;
}
.xdsoft_other_month {
	background: #eee !important;
}
.xdsoft_current {
	background: #f49f32 !important;
	box-shadow: none !important;
}
.xdsoft_datetimepicker td,
.xdsoft_time,
.xdsoft_time_box {
	border-color: #fff !important;
}
.refresh_style,
.skip_style {
	float: left;
	text-transform: uppercase !important;
	margin-right: 20px;
	margin-top: 16px !important;
	text-align: center !important;
}
.refresh_style {
	margin-top: 9px !important;
	margin-left: 20px !important;
}
.g-recaptcha {
	margin: 10px 0 !important;
	height: 78px !important;
	overflow: hidden;
}
.marg_t {
	margin-top: 0 !important;
}
.style11 {
	padding: 4px 0;
}
.style11 a {
	color: #cb750c;
}
@-webkit-keyframes blinker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.6;
	}
}
.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}
.style12 {
	font-size: 1.5em;
}
.dat_sec {
	min-height: 10px;
}
.dat_sec_left h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: 20px;
}
.dat_sec2 {
	margin-top: 10px;
}
.social_icons {
	list-style: none;
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.social_icons li {
	display: inline-table;
	padding: 0 5px;
}
.social_icons li img {
	max-width: 30px;
}
.social_icons li a:hover img {
	margin-top: -10px;
	margin-bottom: 10px;
}
.scale_cont {
	display: inline-block;
}
.scale_cont span {
	margin: 0 15px 0 0;
	padding: 0;
	line-height: none;
}
.weather_day {
	background-color: #00f;
}
.toandf_cont .inp1 {
	width: 46%;
	max-width: 100%;
}
.add_b {
	width: 100%;
	max-width: none;
	margin: 0 0 10px;
	display: block;
	font-size: 14px;
	color: #1c73b7;
	cursor: pointer;
	font-family: OpenSansSemibold;
}
.add_b:hover {
	color: #228cdb;
}
#right-panel input,
#right-panel select {
	font-size: 15px;
}
#right-panel i {
	font-size: 12px;
}
#right-panel {
	height: 100%;
	float: right;
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 1em;
	border: none !important;
}
#right-panel .adp-directions tr td:nth-of-type(3) {
	width: auto;
	max-width: 10% !important;
}
#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	text-align: center;
	background: #fff;
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	display: none;
}
@media print {
	#map {
		height: 500px;
		margin: 0;
	}
	#right-panel {
		float: none;
		width: auto;
	}
}
.plans_map {
	min-height: 1607px !important;
}
.fc-event-container a.fc-day-grid-event {
	border: none !important;
	margin: 0 !important;
	border-radius: 0 !important;
}
.custom_notes,
.plans_popup_item_1,
section.map_with_content_Sec {
	position: relative;
}
.your_plan_tab_sec {
	position: absolute;
	top: 120px;
	left: 0;
	z-index: 999;
	background-color: #f1f6fa;
	width: 536px;
}
.content:hover .content-overlay,
.fade.in {
	opacity: 1;
}
.your_plan_tab_menu {
	background-color: #058aef;
	padding: 10px 0px;
	border-radius: 5px;
}
.your_plan_tab_menu .nav-tabs li a {
	color: #b5defd;
	padding-right: 64px;
	font-size: 15px;
	font-weight: 300;
}
.type_of_activity_sec {
	padding: 2px 0px;
}
.type_of_activity_sec .form-control {
	background-color: #fff !important;
	box-shadow: none;
	height: 46px;
	font-size: 15px;
}
.type_of_activity_submit .btn {
	background: linear-gradient(180deg, #faca5c 0, #f4a333 100%);
	border-radius: 6px;
	border: none;
	width: 100%;
	color: #000;
	font-size: 15px;
}
.border_top_bottom {
	height: 50px;
	border-bottom: 1px solid #b4dbf8;
	border-top: 1px solid #b4dbf8;
}
.your_plan_item_list ul {
	list-style: none;
	margin-left: 0px;
	margin-right: 4px;
	margin-top: 4px;
}
.your_plan_item_list ul li {
	display: table;
	width: 100%;
	border-bottom: 1px solid #b4dbf8;
	padding: 6px 12px;
	background: #fff;
	margin-bottom: 5px;
	border-radius: 5px;
}
.your_plan_item_list .your_plan_item_list_text {
	display: table-cell;
	width: 100%;
}
.explore_tab_items .info_information,
.vizcaya_museum_gargens_right .info_information,
.your_plan_item_list .your_plan_item_edit {
	display: table-cell;
}
.your_plan_item_list_text h4 {
	color: #2298f0;
	font-size: 15px;
}
.your_plan_item_list_text p {
	font-size: 12px;
	margin-bottom: 6px;
}
.your_plan_item_list_text h6 {
	font-size: 12px;
	color: #f5a438;
}
.your_plan_item_edit a {
	margin-right: 11px;
	color: #000;
	float: left;
}
.your_plan_item_edit .delete {
	background-color: #478dff;
	color: #fff;
	border-radius: 50px;
	width: 20px;
	height: 20px;
	display: block;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	margin-right: 0;
}
.your_plan_item_list {
	overflow-y: scroll;
	height: 1053px;
	margin-right: 15px;
}
.your_plan_item_list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #e0eef9;
}
.your_plan_item_list::-webkit-scrollbar {
	width: 8px;
	background-color: #e0eef9;
}
.your_plan_item_list::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #a1d1f5;
}
.plans_popup_item_sec1,
.popup_item_small_img img,
.vizcaya_museum_gargens {
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.add_to_list_btn .btn_btn,
.plans_popup_item_sec1 .popup_close .bi-plus-circle,
.skip_item_section .save_next_value {
	background: linear-gradient(180deg, #faca5c 0, #f4a333 100%);
	text-align: center;
}
.plans_popup_item_sec1 {
	position: absolute;
	top: 366px;
	right: 257px;
	background-color: #fff;
	width: 275px;
	padding: 13px;
	border-radius: 8px;
}
.popup_item_small_img img {
	width: 100%;
	border-radius: 8px;
}
.explore_tab_items img,
.vizcaya_museum_gargens img {
	box-shadow: 0 0 28px rgb(0 0 0 / 7%), 0 10px 10px rgb(0 0 0 / 6%);
}
.popup_item_small_text h5 {
	color: #5b5e63;
	font-size: 16px;
	text-transform: capitalize;
}
.popup_item_small_text h6 {
	font-size: 16px;
	color: #0688e8;
	text-transform: capitalize;
}
.popup_item_small_text {
	text-align: center;
	margin-top: 15px;
}
.plans_popup_item_sec1 .popup_close {
	position: absolute;
	top: -22px;
	right: -23px;
}
.plans_popup_item_sec1 .popup_close .bi-plus-circle {
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	color: #000;
	font-size: 16px;
	border-radius: 50px;
	padding: 10px;
}
.popup_item_small_text .fa-map-marker {
	color: #0688e8;
}
.plans_popup_item_1:before {
	content: '';
	position: absolute;
	right: 100px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 14px solid #fff;
	border-bottom: 14px solid #e00b9900;
	bottom: -48px;
}
.vizcaya_museum_gargens {
	position: absolute;
	top: 170%;
	right: 30px;
	background-color: #fff;
	bottom: 0;
	display: inline-table;
	width: 55%;
	border-radius: 5px;
}
.vizcaya_museum_gargens img {
	border-radius: 5px;
}
.vizcaya_museum_gargen_content {
	padding: 23px 20px;
}
.explore_tab_items h2,
.vizcaya_museum_gargens_left h2 {
	font-size: 18px;
	color: #0688e8;
	text-transform: capitalize;
	font-weight: 600;
}
.vizcaya_museum_gargens_left p {
	font-size: 13px;
}
.explore_tab_items h3,
.vizcaya_museum_gargens_left h3 {
	font-size: 16px;
	color: #0688e8;
	text-transform: capitalize;
	font-weight: 400;
	padding-left: 20px;
}
.vizcaya_museum_gargen_info {
	display: table;
	width: 100%;
}
.explore_tab_items .info_icon,
.vizcaya_museum_gargens_right .info_icon {
	display: table-cell;
	width: 40px;
	vertical-align: middle;
}
.vizcaya_museum_gargen_info .info_icon i,
.vizcaya_museum_gargen_info .info_icon svg {
	font-size: 16px;
	color: #0688e8;
}
.explore_tab_items h5,
.vizcaya_museum_gargen_info h3 {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
}
.info_information h5 span,
.vizcaya_museum_gargen_info h3 span {
	display: block;
}
.add_to_list_btn .btn_btn {
	border-radius: 6px;
	border: none;
	width: 151px;
	color: #000;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 10px;
	font-weight: 600;
}
.skip_item_section .save_next_value,
.skip_item_section .skipt_value {
	color: #000;
	font-weight: 600;
	font-size: 14px;
}
.skip_item_section {
	background-color: #b4dbf8;
	padding: 12px 0;
}
.skip_item_section .save_next_value {
	border-radius: 6px;
	border: none;
	width: 143px;
	display: block;
	padding: 7px 10px;
}
.skip_item_section .list-unstyled {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 0;
}
.skip_item_section li,
.skip_item_section.no-background .list-unstyled li:last-child {
	margin-right: 30px;
}
.skip_item_section li:last-child {
	margin-right: 14px;
}
.connect-bg-ground {
	min-height: 400px;
	background-size: contain !important;
}
.skip_item_section.no-background {
	background-color: transparent;
}
.people_row {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	border-radius: 10px;
	margin-top: 10px;
}
.people_row:hover {
	background: #15598d;
	cursor: pointer;
}
.people_section {
	padding: 20px;
	position: relative;
	height: calc(400px - 70px);
	overflow-y: auto;
	min-height: auto;
}
.people_left_side,
.people_right_side {
	display: flex;
	align-items: center;
}
.people_img img {
	width: 60px;
	border-radius: 100px;
}
.people_info {
	margin-left: 10px;
}
.people_info h4 {
	font-size: 16px;
}
.people_info p {
	font-size: 12px;
	margin: 0;
	color: #fff;
}
.people_place {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
button.people-button {
	padding: 6px 20px;
	background: unset;
	margin-left: 5px;
}
.people_row:nth-child(3n + 1) {
	background: #0c246b;
}
.people_row:nth-child(3n + 1) h4 {
	color: #f39f32;
}
.people_row:nth-child(3n + 1) button,
.people_row:nth-child(3n + 2) button {
	background: #f39f32;
	color: #fff;
}
.people_row:nth-child(3n + 2) {
	background: #058bef;
}
.people_row:nth-child(3n + 2) h4,
.people_row:nth-child(3n + 3) h4 {
	color: #0c246b;
}
.people_row:nth-child(3n + 3) {
	background: #f4a033;
}
.people_row:nth-child(3n + 3) button {
	background: #0c246b;
	color: #fff;
}
.vizcaya_museum_gargens .popup_close a {
	background-color: #478dff;
	color: #fff;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	margin-right: 0;
}
.vizcaya_museum_gargens .popup_close {
	position: absolute;
	top: -8px;
	right: -8px;
}
.explore_tab_items p {
	font-size: 14px;
}
.explore_tab_items_text {
	background-color: #fff;
	padding: 20px 30px;
}
.explore_tab_item_list_sec {
	background-color: #fff;
	padding: 30px 40px;
	overflow-y: scroll;
	height: 1364px;
	margin-right: 15px;
}
.explore_tab_item_list_sec .explore_tab_items {
	box-shadow: 0 3px 7px rgb(0 0 0 / 8%), 0 10px 10px rgb(0 0 0 / 1%);
	margin-bottom: 35px;
	position: relative;
}
.explore_tab_item_list_sec .explore_tab_items_no a {
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 50px;
	position: absolute;
	top: -9px;
	left: -7px;
	background-color: #058aef;
}
.explore_tab_item_list_sec::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #e0eef9;
}
.explore_tab_item_list_sec::-webkit-scrollbar {
	width: 8px;
	background-color: #e0eef9;
}
.explore_tab_item_list_sec::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #a1d1f5;
}
@media only screen and (max-width: 479px) {
	.your_plan_tab_sec {
		top: 68px;
		width: 100%;
	}
	.explore_tab_item_list_sec {
		padding: 30px 20px;
		height: auto;
	}
	.plans_map {
		min-height: 360px !important;
		display: block !important;
	}
	.vizcaya_museum_gargens {
		display: none;
	}
	.explore_tab_items h3 {
		padding-left: 0;
		font-size: 15px;
	}
	.explore_tab_items_text ul {
		margin-left: 0;
	}
	.explore_tab_items_text {
		padding: 20px 23px;
	}
	.plans_popup_item_sec1 {
		top: 88px;
		right: 50px;
		width: 275px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
	.your_plan_tab_sec {
		top: 60px;
		width: 100%;
	}
	.map_help p {
		display: none;
	}
	.explore_tab_item_list_sec {
		padding: 30px 20px;
	}
	.plans_map {
		min-height: 360px !important;
		display: block !important;
	}
	.vizcaya_museum_gargens {
		display: none;
	}
	.explore_tab_items h3 {
		padding-left: 0;
		font-size: 15px;
	}
	.explore_tab_items_text ul {
		margin-left: 0;
	}
	.explore_tab_items_text {
		padding: 20px 23px;
	}
	.plans_popup_item_sec1 {
		top: 88px;
		right: 50px;
		width: 275px;
	}
}
.change_mode_item {
	margin-bottom: 50px;
}
.title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}
.content {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
.content .content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	margin: 0 auto;
	z-index: 9;
}
.content-image {
	width: 100%;
	min-height: 530px;
	height: 530px;
	filter: brightness(60%);
}
.content-image img {
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
p.content-text:hover {
	background: rgba(4, 140, 242, 0.1);
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	bottom: -4%;
	left: 50%;
	opacity: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: 99;
}
.content-details p {
	color: #048df4;
	font-size: 14px;
	margin: 0 auto;
	padding: 12px;
	width: 240px;
	background: 0 0;
	border-radius: 5px;
	border: 1px solid;
}
.portfolio-menu {
	text-align: center;
}
.portfolio-menu ul li {
	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 10px 15px;
	cursor: pointer;
	-webkit-transition: 5s;
	-moz-transition: 5s;
	-ms-transition: 5s;
	-o-transition: 5s;
	transition: 0.5s;
}
.portfolio-item .item {
	float: left;
	margin-bottom: 10px;
}

.modal-step-invalid {
	color: red !important;
}

.modal-step-error {
	margin-top: 24px;
	color: red;
	font-weight: 600;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

textarea.modal-step-invalid,
input.modal-step-invalid {
	border: red 2px solid;
}

.itinerary-field {
	display: flex;
	justify-content: space-between;
	background: #0c246b;
	padding: 12px;
	border-radius: 10px;
	margin-top: 10px;
	min-height: 20px;
	align-items: center;
	gap: 8px;
}

.itinerary-field__content {
	color: #fff;
}

.itinerary-field__content h4 {
	font-size: 16px;
	margin-bottom: 12px;
}

.itinerary-field__content p {
	font-size: 12px;
	margin: 0 0 6px 0;
}

.itinerary-field__content .fa-map-marker {
	margin-right: 6px;
}

.itinerary-field__actions {
	display: flex;
	gap: 5px;
}

p.itinerary-field__icons {
	margin: 0 0 6px 1px;
}

.itinerary-field__button {
	cursor: pointer;
	padding: 4px 15px;
	border-radius: 8px;
	font-size: 20px;
	border: none;
}

.itinerary-field__button:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.itinerary-field__button_edit {
	background: #f3f7fa;
	color: #0c246b;
}

.itinerary-field__button_delete {
	background: #f39f32;
	color: #0c246b;
}
