/*what is costs css start*/

.what_is_costs_sec {
  background-image: url(../images/what_is_cost.png);
  background-repeat: no-repeat;
  height: 976px;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  position: relative;
}
.what_is_cost_heading h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 27px;
}
.cost_bill_monthly_items {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: #fff;
  padding: 25px 25px;
  border-top: 3px solid #0d256f;
  min-height: 690px;
  transition: all 150ms ease-out;
}
.cost_bill_monthly_items:hover {
  transform: scale(1.05);
}
.individual_heading h2 {
  font-size: 19px;
  text-transform: uppercase;
  color: #0d256f;
  font-weight: 600;
}
.individual_heading h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0d256f;
  margin-bottom: 20px;
}
.why_chose_planiversity h3 {
  font-size: 17px;
  color: #ee9611;
  font-weight: 600;
}

.why_chose_planiversity ul li {
  color: #0d256f;
  font-weight: 600;
  font-size: 15px;
  padding-left: 29px;
  margin-bottom: 15px;
  position: relative;
}
.why_chose_planiversity ul li::after {
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  left: 0;
  top: 7px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  background-color: #0d256f;
  color: #fff;
  font-size: 9px;
  border-radius: 50px;
}
.individual_heading h3 span {
  font-size: 16px;
  text-transform: capitalize;
}
.individual_heading h3 i {
  font-size: 30px;
}
.individual_heading h2 span {
  background-color: #f2a034;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  float: right;
  color: #0d2972;
}
.what_is_cost_bill_monthly .month_package_2 {
  background-color: #fac959;
}
.month_package_2 .why_chose_planiversity h3 {
  color: #fff;
}
.what_is_cost_bill_monthly .month_package_3 {
  background-color: #0d2972;
}
.what_is_cost_bill_monthly .month_package_3 {
  border-top: 3px solid #e0b24a;
}
.month_package_3 .individual_heading h2 {
  color: #f2a034;
}
.month_package_3 .individual_heading h3 {
  color: #f2a034;
}
.month_package_3 p {
  color: #fff;
}
.month_package_3 .why_chose_planiversity ul li {
  color: #ffffff;
}
.month_package_3 .why_chose_planiversity ul li::after {
  background-color: #f2a034;
  color: #0d2972;
}
.what_is_cost_heading {
  margin-bottom: 40px;
}
.custom-control.border-switch {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.custom-control.border-switch {
  --color: #fff;
  padding-left: 0;
  text-align: center;
}
.custom-control.border-switch .border-switch-control-input {
  display: none;
}
.custom-control.border-switch
  .border-switch-control-input:checked
  ~ .border-switch-control-indicator {
  border-color: #ffffff;
}
.custom-control.border-switch
  .border-switch-control-input:checked
  ~ .border-switch-control-indicator::after {
  left: 23px;
  background-color: var(--color);
}
.custom-control.border-switch .border-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  top: 4px;
  width: 42px;
  height: 17px;
  background: #0d2972;
  border-radius: 16px;
  transition: 0.3s;
}
.custom-control.border-switch .border-switch-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  top: -2px;
  left: 0px;
  background: #fac959;
}
.what_is_cost_start_today_btn a {
  background-image: linear-gradient(#fac85c, #f5ab3f);
  color: #000;
  border-radius: 10px;
  padding: 20px 34px;
  font-size: 17px;
  font-weight: 500;
  line-height: 5px;
  width: 200px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.what_is_cost_start_today_text {
  text-align: center;
  width: 87%;
  margin: 0px auto;
}
.what_is_cost_start_today {
  margin-top: 95px;
  margin-bottom: 61px;
}
.what_is_cost_start_today_btn {
  margin-top: 40px;
}

/* Custom Style Start */

.what_is_cost_custom_price {
  min-height: 108px;
  padding: 7px 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: box-shadow 0.15s ease-out 0s;
}
.what_is_cost_custom_price h3 {
  color: #fff;
}
.what_is_cost_custom_price p {
  color: #ededed;
}

.slider-container {
  position: relative;
  margin-top: 80px;
}

#userIcon {
  position: absolute;
  background-color: #fff;
  padding: 3px;
  border-radius: 50%;
  top: -65px;
  width: 45px;
  height: 45px;
  transition: left 0.5s ease-in-out;
  animation: mover 2s 1.9s infinite alternate;
}

.business-billing .slider-container #userIcon {
  border: 1px solid #0576ec;
}

.business-billing .team-member-block h5 {
  background: #0d2972;
  color: #fff;
}

.business-billing {
  margin-bottom: 30px;
}

.business-billing .team-member-block {
  margin-top: 30px;
}

.team-member-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.team-member-block h5 {
  color: #0d2972;
  font-size: 16px;
  background: #fff;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  height: 42px;
}
h5.price-info {
  cursor: pointer;
}

.price-contact {
  display: flex;
}

.price-contact h5 {
  margin-right: 10px;
}

h5.price-info.contact-agent {
  background: #fac959;
}

.scrollable-menu {
  height: auto;
  max-height: 18rem;
  overflow-x: hidden;
}

.input-group .input-group-btn .btn-secondary {
  color: #464a4c;
  background-color: #eceeef;
}

span.input-group-addon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

button#dropdownSelectLink {
  padding: 8px 16px;
}

.country-item:focus,
.country-item:active {
  outline: none !important;
  box-shadow: none;
}

button.e_button.member.contact {
  background: transparent;
  color: #000;
}

input.form-control.user-mobile {
  margin-top: 0;
}

span#member_count {
  font-weight: bold;
}

.modal-header button.close {
  padding: unset;
  margin: unset;
}

.modal-blur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.modal-content.agent-content {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 10rem rgb(0 0 0 / 25%);
}

.price-slider {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  background: #71e1d6;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(https://digitshack.com/codepen/mentor5/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 7px 10px 4px rgba(16, 213, 194, 0.2);
}

ol.list.price-list li {
  font-size: 14px;
  color: #3e4555;
  font-weight: 400;
  line-height: 26px;
}

.modal-body.price-modal-body h6 {
  line-height: 26px;
}

form#contactform label {
  text-align: left;
  width: 100%;
  font-weight: 400;
}

form label.error {
  margin-top: 0;
  position: relative;
  bottom: 15px;
  margin-bottom: 0;
}

label.error {
  color: #ff044a !important;
  font-size: 14px;
  margin-top: 3px;
}

select.form-control:not([size]):not([multiple]) {
  height: unset;
}

/* Custom Style END */

@media only screen and (max-width: 479px) {
  /* New CSS Start*/

  .price-contact {
    display: block;
  }

  .team-member-block {
    display: block;
  }

  .team-member-block h5 {
    width: 100%;
  }

  .slider-container {
    margin-top: 80px;
  }

  .what_is_cost_custom_price h3 {
    font-size: 18px;
  }

  .what_is_cost_custom_price p {
    text-align: justify;
  }

  section.what_is_cost_start_today {
    padding-top: 40px !important;
  }

  .what_is_cost_start_today_text p {
    text-align: justify;
  }

  .what_is_cost_start_today_text {
    width: 95%;
  }

  .modal-body.price-modal-body {
    padding: 20px 20px 30px 20px;
  }
  /* New CSS END*/

  .what_is_cost_heading h1 {
    font-size: 40px;
  }
  .cost_bill_monthly_items {
    min-height: auto;
    margin-bottom: 30px;
  }
  .what_is_costs_sec {
    height: auto;
    background: none;
  }
  .what_is_cost_start_today {
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .what_is_costs_sec::after {
    content: "";
    background-color: #0764c1;
    width: 100%;
    height: 28%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .what_is_costs_sec .container {
    position: relative;
    z-index: 9;
  }
  .custom-control.border-switch {
    font-size: 15px;
  }
}
@media only screen and (max-width: 667px) and (min-width: 480px) {
  /* New Style Start */

  .team-member-block h5 {
    width: 180px;
  }

  .what_is_cost_custom_price p {
    text-align: justify;
  }

  section.what_is_cost_start_today {
    padding-top: 40px !important;
  }

  .what_is_cost_start_today_text p {
    text-align: justify;
  }

  /* New Style END */

  .what_is_cost_heading h1 {
    font-size: 40px;
  }
  .cost_bill_monthly_items {
    min-height: auto;
    margin-bottom: 30px;
  }
  .what_is_costs_sec {
    height: auto;
    background: none;
  }
  .what_is_cost_start_today {
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .what_is_costs_sec::after {
    content: "";
    background-color: #0764c1;
    width: 100%;
    height: 28%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .what_is_costs_sec .container {
    position: relative;
    z-index: 9;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .individual_heading h2 {
    font-size: 14px;
  }

  .individual_heading h3 {
    font-size: 20px;
  }

  .individual_heading h3 i {
    font-size: 20px;
  }

  .individual_heading h2 span {
    display: none;
  }
  span.popular {
    display: inline-block !important;
    background-color: #f2a034;
    padding: 2px 8px;
    font-size: 14px !important;
    font-weight: 600;
    border-radius: 20px;
    color: #0d2972;
  }

  .what_is_cost_bill_monthly p {
    font-size: 15px;
  }

  .why_chose_planiversity h3 {
    font-size: 15px;
  }

  .why_chose_planiversity ul li {
    font-size: 13px;
    padding-left: 25px;
  }

  .what_is_cost_bill_monthly .col {
    padding-right: 10px;
    padding-left: 10px;
  }
  section.what_is_cost_start_today {
    padding-top: 60px !important;
  }
  .what_is_cost_heading h1 {
    font-size: 40px;
  }
  .cost_bill_monthly_items {
    min-height: auto;
    margin-bottom: 30px;
    padding: 20px 15px;
  }
  .what_is_costs_sec {
    height: auto;
  }
  .what_is_cost_start_today {
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .what_is_costs_sec::after {
    content: "";
    background-color: #0764c1;
    width: 100%;
    height: 28%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .what_is_costs_sec .container {
    position: relative;
    z-index: 9;
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
