.form-group.process-btn {
  display: flex;
}

.pac-container {
  z-index: 10000 !important;
}

.action_button {
  font-size: 12px;
}

#update_event,
#add-comment-modal {
  z-index: 9999;
}

.modal {
  margin-bottom: 0px !important;
  top: 2%;
  z-index: 9999;
}

.modal-backdrop {
  background-color: #000;
  z-index: 1111;
}

.modal-blur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

label.error {
  color: #f31c1c;
  position: relative;
  bottom: 15px;
  font-size: 13px;
  height: 20px;
}

select#e_employee_gender {
  padding: 5px;
}

.upload-input-file input[type="text"] {
  font-size: 14px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  box-shadow: none;
  display: block;
  color: #333;
  height: 46px;
  padding: 12px;
  outline: none;
  width: 100%;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
  box-shadow: 0 1px 1px 0 rgba(45, 44, 44, 0.05) !important;
}

input[type="file"] {
  display: block;
}

label.input-file {
  background: white;
  width: 100%;
}

.a-menu-element a.active {
  background: #075b9e !important;
}

label.input-file:hover {
  background: white;
  width: 100%;
}

.ajax-file-upload {
  padding: 6px 16px;
  background: #fb7f16;
  display: table;
  color: #fff;
  float: left;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 50px;
}

.ajax-file-upload:hover {
  padding: 6px 16px;
  background: #fb7f16;
  display: table;
  color: #fff;
  float: left;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 50px;
}

.footer {
  position: inherit !important;
}

.btn-mini {
  padding: 4px 10px;
  border: 2px solid #e8e8e8;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

#upload-demo {
  width: 300px;
  height: 300px;
  padding-bottom: 25px;
  margin: auto;
}

.menu-filter {
  background: #0d256c;
}

ul.navbar-nav.people-nav li a {
  color: #fff;
}

ul.navbar-nav.people-nav li {
  margin-left: 20px;
}

a.nav-link.active {
  color: #f4a134 !important;
}

h3.section-title {
  font-size: 20px;
  color: #1f74b7;
  margin: 20px 0px;
}

label.emp-form-label {
  margin: 0;
}

.user-info-text {
  position: relative;
  top: 15px;
  left: 20px;
}

.user-info-text h3 {
  color: #0d256c;
  font-size: 26px;
  font-weight: bold;
}

.user-info-text h4 {
  color: #0d256c;
  font-size: 20px;
}

.other-section {
  margin-top: 175px;
}

select.travel_group {
  height: 46px !important;
  background-color: #fff !important;
}

.employee-save-btn {
  width: 100%;
  font-weight: 500;
}

label.error:empty {
  display: none;
}

.file-upload-container:hover {
  background: aliceblue;
}

.file-upload-container {
  border: 1px solid #eaecf0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
}

.file-upload-container label {
  font-size: 16px;
  color: #007bff;
  margin: 0;
}

.file-upload-container label i {
  border: 2px solid #eaecf0;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.instructions {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.instructions span {
  color: #0290fc;
  font-weight: 600;
}

input#employee_email:focus,
input#employee_id:focus {
  width: unset;
}

button.btn.go-action {
  background-color: #0c246b;
  color: #fff;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

input.form-control.employee-email.error-class {
  background: #ffbfbf !important;
}

img.table-image {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 90px;
}

button.navbar-toggler {
  color: #fff;
}

a.new-account-btn {
  width: 200px;
}

.modal.show {
  background-color: unset !important;
}

.modal-content {
  background-color: #fff;
}

label.error:empty {
  display: none;
}

button.navbar-toggler {
  color: #fff;
}

.migration-tools {
  margin-top: 50px;
}

.event_list {
  height: calc(370px - 70px);
  overflow-y: auto;
  min-height: auto;
}

.event_list::-webkit-scrollbar {
  width: 12px;
}

.event_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.event_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.loading_screen {
  position: relative;
  left: 48%;
  top: 25px;
  z-index: 999;
}

h3.no-found {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  top: 40px;
  color: #0c246b;
  text-align: center;
}

@media (max-width: 992px) {
  .menu-filter {
    margin-top: 70px;
  }

  .other-section {
    margin-top: 20px;
  }

  ul.navbar-nav.people-nav li {
    display: block;
    margin: 0 12px;
    padding-top: 10px;
    line-height: 10px;
  }
}
